
<div class="new-client">
    <div class="col-xs-12 title">
        <h3 class="text-center">Welcome To VT ERP Solution</h3>
        
      </div>

    <div>
    <!-- <h3>New Client Register</h3> -->
    </div>
    <div class="box-body">
      <div class="row">
        <div class="col-xs-12">
          <div class="col-xs-4 "></div>
          <div class="col-xs-4 ">

            <div class="form-horizontal">
    <div class="form-group">
        <label class="control-label">Email</label>
          <input type="text" class="form-control" [(ngModel)]="user.Email" 
          name="userNamePrefix" #userNamePrefix="ngModel" required />
          
      </div>
      <div class="form-group">
        <label class="control-label">Password</label>
          <input type="password" class="form-control" [(ngModel)]="user.Password" 
          name="userNamePrefix" #userNamePrefix="ngModel" required />
          
      </div>

    <button type="button" class="btn btn-default p-r-5" (click)="signIn()">Login</button>
    <span>&nbsp;&nbsp;</span>
    <a class="btn btn-default btn-sm" routerLink="/new-user-register"> Register New User</a>
</div>
          </div>
          <div class="col-xs-4 "></div>
       </div>
     </div>
</div>
