/* open-sans-300 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/open-sans-v15-latin-300.eot");
  /* IE9 Compat Modes */
  src: local("Open Sans Light"), local("OpenSans-Light"), url("../fonts/open-sans-v15-latin-300.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans-v15-latin-300.woff2") format("woff2"), url("../fonts/open-sans-v15-latin-300.woff") format("woff"), url("../fonts/open-sans-v15-latin-300.ttf") format("truetype"), url("../fonts/open-sans-v15-latin-300.svg#OpenSans") format("svg");
  /* Legacy iOS */ }
/* open-sans-regular - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/open-sans-v15-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Open Sans Regular"), local("OpenSans-Regular"), url("../fonts/open-sans-v15-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans-v15-latin-regular.woff2") format("woff2"), url("../fonts/open-sans-v15-latin-regular.woff") format("woff"), url("../fonts/open-sans-v15-latin-regular.ttf") format("truetype"), url("../fonts/open-sans-v15-latin-regular.svg#OpenSans") format("svg");
  /* Legacy iOS */ }
/* open-sans-600 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/open-sans-v15-latin-600.eot");
  /* IE9 Compat Modes */
  src: local("Open Sans SemiBold"), local("OpenSans-SemiBold"), url("../fonts/open-sans-v15-latin-600.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans-v15-latin-600.woff2") format("woff2"), url("../fonts/open-sans-v15-latin-600.woff") format("woff"), url("../fonts/open-sans-v15-latin-600.ttf") format("truetype"), url("../fonts/open-sans-v15-latin-600.svg#OpenSans") format("svg");
  /* Legacy iOS */ }
.p0 {
  padding: 0px; }

.p-l-0 {
  padding-left: 0px !important; }

.p-r-0 {
  padding-right: 0px; }

.p-t-10 {
  padding-top: 10px; }

.bs-padding {
  padding-right: 15px !important;
  padding-left: 15px !important; }

.p-t-0 {
  padding-top: 0px; }

.p-b-0 {
  padding-bottom: 0px; }

.p-l-0 {
  padding-left: 0px; }

.p-r-0 {
  padding-right: 0px; }

@media (min-width: 768px) {
  .sm-p-l-0 {
    padding-left: 0px; }

  .sm-p-r-0 {
    padding-right: 0px; } }
@media (min-width: 992px) {
  .md-p-l-0 {
    padding-left: 0px; }

  .md-p-r-0 {
    padding-right: 0px; } }
@media (min-width: 1200px) {
  .lg-p-l-0 {
    padding-left: 0px; }

  .lg-p-r-0 {
    padding-right: 0px; } }
.p-t-5 {
  padding-top: 5px; }

.p-b-5 {
  padding-bottom: 5px; }

.p-l-5 {
  padding-left: 5px; }

.p-r-5 {
  padding-right: 5px; }

@media (min-width: 768px) {
  .sm-p-l-5 {
    padding-left: 5px; }

  .sm-p-r-5 {
    padding-right: 5px; } }
@media (min-width: 992px) {
  .md-p-l-5 {
    padding-left: 5px; }

  .md-p-r-5 {
    padding-right: 5px; } }
@media (min-width: 1200px) {
  .lg-p-l-5 {
    padding-left: 5px; }

  .lg-p-r-5 {
    padding-right: 5px; } }
.p-t-10 {
  padding-top: 10px; }

.p-b-10 {
  padding-bottom: 10px; }

.p-l-10 {
  padding-left: 10px; }

.p-r-10 {
  padding-right: 10px; }

@media (min-width: 768px) {
  .sm-p-l-10 {
    padding-left: 10px; }

  .sm-p-r-10 {
    padding-right: 10px; } }
@media (min-width: 992px) {
  .md-p-l-10 {
    padding-left: 10px; }

  .md-p-r-10 {
    padding-right: 10px; } }
@media (min-width: 1200px) {
  .lg-p-l-10 {
    padding-left: 10px; }

  .lg-p-r-10 {
    padding-right: 10px; } }
.p-t-15 {
  padding-top: 15px; }

.p-b-15 {
  padding-bottom: 15px; }

.p-l-15 {
  padding-left: 15px; }

.p-r-15 {
  padding-right: 15px; }

@media (min-width: 768px) {
  .sm-p-l-15 {
    padding-left: 15px; }

  .sm-p-r-15 {
    padding-right: 15px; } }
@media (min-width: 992px) {
  .md-p-l-15 {
    padding-left: 15px; }

  .md-p-r-15 {
    padding-right: 15px; } }
@media (min-width: 1200px) {
  .lg-p-l-15 {
    padding-left: 15px; }

  .lg-p-r-15 {
    padding-right: 15px; } }
.p-t-20 {
  padding-top: 20px; }

.p-b-20 {
  padding-bottom: 20px; }

.p-l-20 {
  padding-left: 20px; }

.p-r-20 {
  padding-right: 20px; }

@media (min-width: 768px) {
  .sm-p-l-20 {
    padding-left: 20px; }

  .sm-p-r-20 {
    padding-right: 20px; } }
@media (min-width: 992px) {
  .md-p-l-20 {
    padding-left: 20px; }

  .md-p-r-20 {
    padding-right: 20px; } }
@media (min-width: 1200px) {
  .lg-p-l-20 {
    padding-left: 20px; }

  .lg-p-r-20 {
    padding-right: 20px; } }
.p-t-25 {
  padding-top: 25px; }

.p-b-25 {
  padding-bottom: 25px; }

.p-l-25 {
  padding-left: 25px; }

.p-r-25 {
  padding-right: 25px; }

@media (min-width: 768px) {
  .sm-p-l-25 {
    padding-left: 25px; }

  .sm-p-r-25 {
    padding-right: 25px; } }
@media (min-width: 992px) {
  .md-p-l-25 {
    padding-left: 25px; }

  .md-p-r-25 {
    padding-right: 25px; } }
@media (min-width: 1200px) {
  .lg-p-l-25 {
    padding-left: 25px; }

  .lg-p-r-25 {
    padding-right: 25px; } }
.p-t-30 {
  padding-top: 30px; }

.p-b-30 {
  padding-bottom: 30px; }

.p-l-30 {
  padding-left: 30px; }

.p-r-30 {
  padding-right: 30px; }

@media (min-width: 768px) {
  .sm-p-l-30 {
    padding-left: 30px; }

  .sm-p-r-30 {
    padding-right: 30px; } }
@media (min-width: 992px) {
  .md-p-l-30 {
    padding-left: 30px; }

  .md-p-r-30 {
    padding-right: 30px; } }
@media (min-width: 1200px) {
  .lg-p-l-30 {
    padding-left: 30px; }

  .lg-p-r-30 {
    padding-right: 30px; } }
.p-t-35 {
  padding-top: 35px; }

.p-b-35 {
  padding-bottom: 35px; }

.p-l-35 {
  padding-left: 35px; }

.p-r-35 {
  padding-right: 35px; }

@media (min-width: 768px) {
  .sm-p-l-35 {
    padding-left: 35px; }

  .sm-p-r-35 {
    padding-right: 35px; } }
@media (min-width: 992px) {
  .md-p-l-35 {
    padding-left: 35px; }

  .md-p-r-35 {
    padding-right: 35px; } }
@media (min-width: 1200px) {
  .lg-p-l-35 {
    padding-left: 35px; }

  .lg-p-r-35 {
    padding-right: 35px; } }
.p-t-40 {
  padding-top: 40px; }

.p-b-40 {
  padding-bottom: 40px; }

.p-l-40 {
  padding-left: 40px; }

.p-r-40 {
  padding-right: 40px; }

@media (min-width: 768px) {
  .sm-p-l-40 {
    padding-left: 40px; }

  .sm-p-r-40 {
    padding-right: 40px; } }
@media (min-width: 992px) {
  .md-p-l-40 {
    padding-left: 40px; }

  .md-p-r-40 {
    padding-right: 40px; } }
@media (min-width: 1200px) {
  .lg-p-l-40 {
    padding-left: 40px; }

  .lg-p-r-40 {
    padding-right: 40px; } }
.p-t-45 {
  padding-top: 45px; }

.p-b-45 {
  padding-bottom: 45px; }

.p-l-45 {
  padding-left: 45px; }

.p-r-45 {
  padding-right: 45px; }

@media (min-width: 768px) {
  .sm-p-l-45 {
    padding-left: 45px; }

  .sm-p-r-45 {
    padding-right: 45px; } }
@media (min-width: 992px) {
  .md-p-l-45 {
    padding-left: 45px; }

  .md-p-r-45 {
    padding-right: 45px; } }
@media (min-width: 1200px) {
  .lg-p-l-45 {
    padding-left: 45px; }

  .lg-p-r-45 {
    padding-right: 45px; } }
.p-t-50 {
  padding-top: 50px; }

.p-b-50 {
  padding-bottom: 50px; }

.p-l-50 {
  padding-left: 50px; }

.p-r-50 {
  padding-right: 50px; }

@media (min-width: 768px) {
  .sm-p-l-50 {
    padding-left: 50px; }

  .sm-p-r-50 {
    padding-right: 50px; } }
@media (min-width: 992px) {
  .md-p-l-50 {
    padding-left: 50px; }

  .md-p-r-50 {
    padding-right: 50px; } }
@media (min-width: 1200px) {
  .lg-p-l-50 {
    padding-left: 50px; }

  .lg-p-r-50 {
    padding-right: 50px; } }
.p-t-55 {
  padding-top: 55px; }

.p-b-55 {
  padding-bottom: 55px; }

.p-l-55 {
  padding-left: 55px; }

.p-r-55 {
  padding-right: 55px; }

@media (min-width: 768px) {
  .sm-p-l-55 {
    padding-left: 55px; }

  .sm-p-r-55 {
    padding-right: 55px; } }
@media (min-width: 992px) {
  .md-p-l-55 {
    padding-left: 55px; }

  .md-p-r-55 {
    padding-right: 55px; } }
@media (min-width: 1200px) {
  .lg-p-l-55 {
    padding-left: 55px; }

  .lg-p-r-55 {
    padding-right: 55px; } }
.p-t-60 {
  padding-top: 60px; }

.p-b-60 {
  padding-bottom: 60px; }

.p-l-60 {
  padding-left: 60px; }

.p-r-60 {
  padding-right: 60px; }

@media (min-width: 768px) {
  .sm-p-l-60 {
    padding-left: 60px; }

  .sm-p-r-60 {
    padding-right: 60px; } }
@media (min-width: 992px) {
  .md-p-l-60 {
    padding-left: 60px; }

  .md-p-r-60 {
    padding-right: 60px; } }
@media (min-width: 1200px) {
  .lg-p-l-60 {
    padding-left: 60px; }

  .lg-p-r-60 {
    padding-right: 60px; } }
.p-t-65 {
  padding-top: 65px; }

.p-b-65 {
  padding-bottom: 65px; }

.p-l-65 {
  padding-left: 65px; }

.p-r-65 {
  padding-right: 65px; }

@media (min-width: 768px) {
  .sm-p-l-65 {
    padding-left: 65px; }

  .sm-p-r-65 {
    padding-right: 65px; } }
@media (min-width: 992px) {
  .md-p-l-65 {
    padding-left: 65px; }

  .md-p-r-65 {
    padding-right: 65px; } }
@media (min-width: 1200px) {
  .lg-p-l-65 {
    padding-left: 65px; }

  .lg-p-r-65 {
    padding-right: 65px; } }
.p-t-70 {
  padding-top: 70px; }

.p-b-70 {
  padding-bottom: 70px; }

.p-l-70 {
  padding-left: 70px; }

.p-r-70 {
  padding-right: 70px; }

@media (min-width: 768px) {
  .sm-p-l-70 {
    padding-left: 70px; }

  .sm-p-r-70 {
    padding-right: 70px; } }
@media (min-width: 992px) {
  .md-p-l-70 {
    padding-left: 70px; }

  .md-p-r-70 {
    padding-right: 70px; } }
@media (min-width: 1200px) {
  .lg-p-l-70 {
    padding-left: 70px; }

  .lg-p-r-70 {
    padding-right: 70px; } }
.p-t-75 {
  padding-top: 75px; }

.p-b-75 {
  padding-bottom: 75px; }

.p-l-75 {
  padding-left: 75px; }

.p-r-75 {
  padding-right: 75px; }

@media (min-width: 768px) {
  .sm-p-l-75 {
    padding-left: 75px; }

  .sm-p-r-75 {
    padding-right: 75px; } }
@media (min-width: 992px) {
  .md-p-l-75 {
    padding-left: 75px; }

  .md-p-r-75 {
    padding-right: 75px; } }
@media (min-width: 1200px) {
  .lg-p-l-75 {
    padding-left: 75px; }

  .lg-p-r-75 {
    padding-right: 75px; } }
.p-t-80 {
  padding-top: 80px; }

.p-b-80 {
  padding-bottom: 80px; }

.p-l-80 {
  padding-left: 80px; }

.p-r-80 {
  padding-right: 80px; }

@media (min-width: 768px) {
  .sm-p-l-80 {
    padding-left: 80px; }

  .sm-p-r-80 {
    padding-right: 80px; } }
@media (min-width: 992px) {
  .md-p-l-80 {
    padding-left: 80px; }

  .md-p-r-80 {
    padding-right: 80px; } }
@media (min-width: 1200px) {
  .lg-p-l-80 {
    padding-left: 80px; }

  .lg-p-r-80 {
    padding-right: 80px; } }
.p-t-85 {
  padding-top: 85px; }

.p-b-85 {
  padding-bottom: 85px; }

.p-l-85 {
  padding-left: 85px; }

.p-r-85 {
  padding-right: 85px; }

@media (min-width: 768px) {
  .sm-p-l-85 {
    padding-left: 85px; }

  .sm-p-r-85 {
    padding-right: 85px; } }
@media (min-width: 992px) {
  .md-p-l-85 {
    padding-left: 85px; }

  .md-p-r-85 {
    padding-right: 85px; } }
@media (min-width: 1200px) {
  .lg-p-l-85 {
    padding-left: 85px; }

  .lg-p-r-85 {
    padding-right: 85px; } }
.p-t-90 {
  padding-top: 90px; }

.p-b-90 {
  padding-bottom: 90px; }

.p-l-90 {
  padding-left: 90px; }

.p-r-90 {
  padding-right: 90px; }

@media (min-width: 768px) {
  .sm-p-l-90 {
    padding-left: 90px; }

  .sm-p-r-90 {
    padding-right: 90px; } }
@media (min-width: 992px) {
  .md-p-l-90 {
    padding-left: 90px; }

  .md-p-r-90 {
    padding-right: 90px; } }
@media (min-width: 1200px) {
  .lg-p-l-90 {
    padding-left: 90px; }

  .lg-p-r-90 {
    padding-right: 90px; } }
.p-t-95 {
  padding-top: 95px; }

.p-b-95 {
  padding-bottom: 95px; }

.p-l-95 {
  padding-left: 95px; }

.p-r-95 {
  padding-right: 95px; }

@media (min-width: 768px) {
  .sm-p-l-95 {
    padding-left: 95px; }

  .sm-p-r-95 {
    padding-right: 95px; } }
@media (min-width: 992px) {
  .md-p-l-95 {
    padding-left: 95px; }

  .md-p-r-95 {
    padding-right: 95px; } }
@media (min-width: 1200px) {
  .lg-p-l-95 {
    padding-left: 95px; }

  .lg-p-r-95 {
    padding-right: 95px; } }
.p-t-100 {
  padding-top: 100px; }

.p-b-100 {
  padding-bottom: 100px; }

.p-l-100 {
  padding-left: 100px; }

.p-r-100 {
  padding-right: 100px; }

@media (min-width: 768px) {
  .sm-p-l-100 {
    padding-left: 100px; }

  .sm-p-r-100 {
    padding-right: 100px; } }
@media (min-width: 992px) {
  .md-p-l-100 {
    padding-left: 100px; }

  .md-p-r-100 {
    padding-right: 100px; } }
@media (min-width: 1200px) {
  .lg-p-l-100 {
    padding-left: 100px; }

  .lg-p-r-100 {
    padding-right: 100px; } }
.p-t-105 {
  padding-top: 105px; }

.p-b-105 {
  padding-bottom: 105px; }

.p-l-105 {
  padding-left: 105px; }

.p-r-105 {
  padding-right: 105px; }

@media (min-width: 768px) {
  .sm-p-l-105 {
    padding-left: 105px; }

  .sm-p-r-105 {
    padding-right: 105px; } }
@media (min-width: 992px) {
  .md-p-l-105 {
    padding-left: 105px; }

  .md-p-r-105 {
    padding-right: 105px; } }
@media (min-width: 1200px) {
  .lg-p-l-105 {
    padding-left: 105px; }

  .lg-p-r-105 {
    padding-right: 105px; } }
.p-t-110 {
  padding-top: 110px; }

.p-b-110 {
  padding-bottom: 110px; }

.p-l-110 {
  padding-left: 110px; }

.p-r-110 {
  padding-right: 110px; }

@media (min-width: 768px) {
  .sm-p-l-110 {
    padding-left: 110px; }

  .sm-p-r-110 {
    padding-right: 110px; } }
@media (min-width: 992px) {
  .md-p-l-110 {
    padding-left: 110px; }

  .md-p-r-110 {
    padding-right: 110px; } }
@media (min-width: 1200px) {
  .lg-p-l-110 {
    padding-left: 110px; }

  .lg-p-r-110 {
    padding-right: 110px; } }
.p-t-115 {
  padding-top: 115px; }

.p-b-115 {
  padding-bottom: 115px; }

.p-l-115 {
  padding-left: 115px; }

.p-r-115 {
  padding-right: 115px; }

@media (min-width: 768px) {
  .sm-p-l-115 {
    padding-left: 115px; }

  .sm-p-r-115 {
    padding-right: 115px; } }
@media (min-width: 992px) {
  .md-p-l-115 {
    padding-left: 115px; }

  .md-p-r-115 {
    padding-right: 115px; } }
@media (min-width: 1200px) {
  .lg-p-l-115 {
    padding-left: 115px; }

  .lg-p-r-115 {
    padding-right: 115px; } }
.p-t-120 {
  padding-top: 120px; }

.p-b-120 {
  padding-bottom: 120px; }

.p-l-120 {
  padding-left: 120px; }

.p-r-120 {
  padding-right: 120px; }

@media (min-width: 768px) {
  .sm-p-l-120 {
    padding-left: 120px; }

  .sm-p-r-120 {
    padding-right: 120px; } }
@media (min-width: 992px) {
  .md-p-l-120 {
    padding-left: 120px; }

  .md-p-r-120 {
    padding-right: 120px; } }
@media (min-width: 1200px) {
  .lg-p-l-120 {
    padding-left: 120px; }

  .lg-p-r-120 {
    padding-right: 120px; } }
.p-t-125 {
  padding-top: 125px; }

.p-b-125 {
  padding-bottom: 125px; }

.p-l-125 {
  padding-left: 125px; }

.p-r-125 {
  padding-right: 125px; }

@media (min-width: 768px) {
  .sm-p-l-125 {
    padding-left: 125px; }

  .sm-p-r-125 {
    padding-right: 125px; } }
@media (min-width: 992px) {
  .md-p-l-125 {
    padding-left: 125px; }

  .md-p-r-125 {
    padding-right: 125px; } }
@media (min-width: 1200px) {
  .lg-p-l-125 {
    padding-left: 125px; }

  .lg-p-r-125 {
    padding-right: 125px; } }
.p-t-130 {
  padding-top: 130px; }

.p-b-130 {
  padding-bottom: 130px; }

.p-l-130 {
  padding-left: 130px; }

.p-r-130 {
  padding-right: 130px; }

@media (min-width: 768px) {
  .sm-p-l-130 {
    padding-left: 130px; }

  .sm-p-r-130 {
    padding-right: 130px; } }
@media (min-width: 992px) {
  .md-p-l-130 {
    padding-left: 130px; }

  .md-p-r-130 {
    padding-right: 130px; } }
@media (min-width: 1200px) {
  .lg-p-l-130 {
    padding-left: 130px; }

  .lg-p-r-130 {
    padding-right: 130px; } }
.p-t-135 {
  padding-top: 135px; }

.p-b-135 {
  padding-bottom: 135px; }

.p-l-135 {
  padding-left: 135px; }

.p-r-135 {
  padding-right: 135px; }

@media (min-width: 768px) {
  .sm-p-l-135 {
    padding-left: 135px; }

  .sm-p-r-135 {
    padding-right: 135px; } }
@media (min-width: 992px) {
  .md-p-l-135 {
    padding-left: 135px; }

  .md-p-r-135 {
    padding-right: 135px; } }
@media (min-width: 1200px) {
  .lg-p-l-135 {
    padding-left: 135px; }

  .lg-p-r-135 {
    padding-right: 135px; } }
.p-t-140 {
  padding-top: 140px; }

.p-b-140 {
  padding-bottom: 140px; }

.p-l-140 {
  padding-left: 140px; }

.p-r-140 {
  padding-right: 140px; }

@media (min-width: 768px) {
  .sm-p-l-140 {
    padding-left: 140px; }

  .sm-p-r-140 {
    padding-right: 140px; } }
@media (min-width: 992px) {
  .md-p-l-140 {
    padding-left: 140px; }

  .md-p-r-140 {
    padding-right: 140px; } }
@media (min-width: 1200px) {
  .lg-p-l-140 {
    padding-left: 140px; }

  .lg-p-r-140 {
    padding-right: 140px; } }
.p-t-145 {
  padding-top: 145px; }

.p-b-145 {
  padding-bottom: 145px; }

.p-l-145 {
  padding-left: 145px; }

.p-r-145 {
  padding-right: 145px; }

@media (min-width: 768px) {
  .sm-p-l-145 {
    padding-left: 145px; }

  .sm-p-r-145 {
    padding-right: 145px; } }
@media (min-width: 992px) {
  .md-p-l-145 {
    padding-left: 145px; }

  .md-p-r-145 {
    padding-right: 145px; } }
@media (min-width: 1200px) {
  .lg-p-l-145 {
    padding-left: 145px; }

  .lg-p-r-145 {
    padding-right: 145px; } }
.p-t-150 {
  padding-top: 150px; }

.p-b-150 {
  padding-bottom: 150px; }

.p-l-150 {
  padding-left: 150px; }

.p-r-150 {
  padding-right: 150px; }

@media (min-width: 768px) {
  .sm-p-l-150 {
    padding-left: 150px; }

  .sm-p-r-150 {
    padding-right: 150px; } }
@media (min-width: 992px) {
  .md-p-l-150 {
    padding-left: 150px; }

  .md-p-r-150 {
    padding-right: 150px; } }
@media (min-width: 1200px) {
  .lg-p-l-150 {
    padding-left: 150px; }

  .lg-p-r-150 {
    padding-right: 150px; } }
.navbar-toggle {
  border-color: #fff; }
  .navbar-toggle .icon-bar {
    background-color: #fff; }

#navbar {
  padding-left: 10px; }
  @media (min-width: 768px) {
    #navbar {
      padding-left: 0px; } }

.table-form input {
  min-width: 60px; }

.nybsys-form .row {
  margin-left: 0px;
  margin-right: 0px; }
  @media (min-width: 768px) {
    .nybsys-form .row {
      margin-left: -15px;
      margin-right: -15px; } }

.nybsys-customer-details .tab-content {
  padding: 5px 15px; }
  @media (min-width: 768px) {
    .nybsys-customer-details .tab-content {
      padding: 5px 40px; } }

.title-settings {
  margin-bottom: 20px;
  margin-left: 0px; }
  @media (min-width: 768px) {
    .title-settings {
      margin-left: -15px; } }

.xs-p-15-md-0 {
  padding-left: 15px; }
  @media (min-width: 768px) {
    .xs-p-15-md-0 {
      padding-left: 0px; } }

.m-t-0 {
  margin-top: 0px; }

.m-b-0 {
  margin-bottom: 0px; }

.m-l-0 {
  margin-left: 0px; }

.m-r-0 {
  margin-right: 0px; }

@media (min-width: 768px) {
  .sm-m-l-0 {
    margin-left: 0px; }

  .sm-m-r-0 {
    margin-right: 0px; } }
@media (min-width: 992px) {
  .md-m-l-0 {
    margin-left: 0px; }

  .md-m-r-0 {
    margin-right: 0px; } }
@media (min-width: 1200px) {
  .lg-m-l-0 {
    margin-left: 0px; }

  .lg-m-r-0 {
    margin-right: 0px; } }
.m-t-5 {
  margin-top: 5px; }

.m-b-5 {
  margin-bottom: 5px; }

.m-l-5 {
  margin-left: 5px; }

.m-r-5 {
  margin-right: 5px; }

@media (min-width: 768px) {
  .sm-m-l-5 {
    margin-left: 5px; }

  .sm-m-r-5 {
    margin-right: 5px; } }
@media (min-width: 992px) {
  .md-m-l-5 {
    margin-left: 5px; }

  .md-m-r-5 {
    margin-right: 5px; } }
@media (min-width: 1200px) {
  .lg-m-l-5 {
    margin-left: 5px; }

  .lg-m-r-5 {
    margin-right: 5px; } }
.m-t-10 {
  margin-top: 10px; }

.m-b-10 {
  margin-bottom: 10px; }

.m-l-10 {
  margin-left: 10px; }

.m-r-10 {
  margin-right: 10px; }

@media (min-width: 768px) {
  .sm-m-l-10 {
    margin-left: 10px; }

  .sm-m-r-10 {
    margin-right: 10px; } }
@media (min-width: 992px) {
  .md-m-l-10 {
    margin-left: 10px; }

  .md-m-r-10 {
    margin-right: 10px; } }
@media (min-width: 1200px) {
  .lg-m-l-10 {
    margin-left: 10px; }

  .lg-m-r-10 {
    margin-right: 10px; } }
.m-t-15 {
  margin-top: 15px; }

.m-b-15 {
  margin-bottom: 15px; }

.m-l-15 {
  margin-left: 15px; }

.m-r-15 {
  margin-right: 15px; }

@media (min-width: 768px) {
  .sm-m-l-15 {
    margin-left: 15px; }

  .sm-m-r-15 {
    margin-right: 15px; } }
@media (min-width: 992px) {
  .md-m-l-15 {
    margin-left: 15px; }

  .md-m-r-15 {
    margin-right: 15px; } }
@media (min-width: 1200px) {
  .lg-m-l-15 {
    margin-left: 15px; }

  .lg-m-r-15 {
    margin-right: 15px; } }
.m-t-20 {
  margin-top: 20px; }

.m-b-20 {
  margin-bottom: 20px; }

.m-l-20 {
  margin-left: 20px; }

.m-r-20 {
  margin-right: 20px; }

@media (min-width: 768px) {
  .sm-m-l-20 {
    margin-left: 20px; }

  .sm-m-r-20 {
    margin-right: 20px; } }
@media (min-width: 992px) {
  .md-m-l-20 {
    margin-left: 20px; }

  .md-m-r-20 {
    margin-right: 20px; } }
@media (min-width: 1200px) {
  .lg-m-l-20 {
    margin-left: 20px; }

  .lg-m-r-20 {
    margin-right: 20px; } }
.m-t-25 {
  margin-top: 25px; }

.m-b-25 {
  margin-bottom: 25px; }

.m-l-25 {
  margin-left: 25px; }

.m-r-25 {
  margin-right: 25px; }

@media (min-width: 768px) {
  .sm-m-l-25 {
    margin-left: 25px; }

  .sm-m-r-25 {
    margin-right: 25px; } }
@media (min-width: 992px) {
  .md-m-l-25 {
    margin-left: 25px; }

  .md-m-r-25 {
    margin-right: 25px; } }
@media (min-width: 1200px) {
  .lg-m-l-25 {
    margin-left: 25px; }

  .lg-m-r-25 {
    margin-right: 25px; } }
.m-t-30 {
  margin-top: 30px; }

.m-b-30 {
  margin-bottom: 30px; }

.m-l-30 {
  margin-left: 30px; }

.m-r-30 {
  margin-right: 30px; }

@media (min-width: 768px) {
  .sm-m-l-30 {
    margin-left: 30px; }

  .sm-m-r-30 {
    margin-right: 30px; } }
@media (min-width: 992px) {
  .md-m-l-30 {
    margin-left: 30px; }

  .md-m-r-30 {
    margin-right: 30px; } }
@media (min-width: 1200px) {
  .lg-m-l-30 {
    margin-left: 30px; }

  .lg-m-r-30 {
    margin-right: 30px; } }
.m-t-35 {
  margin-top: 35px; }

.m-b-35 {
  margin-bottom: 35px; }

.m-l-35 {
  margin-left: 35px; }

.m-r-35 {
  margin-right: 35px; }

@media (min-width: 768px) {
  .sm-m-l-35 {
    margin-left: 35px; }

  .sm-m-r-35 {
    margin-right: 35px; } }
@media (min-width: 992px) {
  .md-m-l-35 {
    margin-left: 35px; }

  .md-m-r-35 {
    margin-right: 35px; } }
@media (min-width: 1200px) {
  .lg-m-l-35 {
    margin-left: 35px; }

  .lg-m-r-35 {
    margin-right: 35px; } }
.m-t-40 {
  margin-top: 40px; }

.m-b-40 {
  margin-bottom: 40px; }

.m-l-40 {
  margin-left: 40px; }

.m-r-40 {
  margin-right: 40px; }

@media (min-width: 768px) {
  .sm-m-l-40 {
    margin-left: 40px; }

  .sm-m-r-40 {
    margin-right: 40px; } }
@media (min-width: 992px) {
  .md-m-l-40 {
    margin-left: 40px; }

  .md-m-r-40 {
    margin-right: 40px; } }
@media (min-width: 1200px) {
  .lg-m-l-40 {
    margin-left: 40px; }

  .lg-m-r-40 {
    margin-right: 40px; } }
.m-t-45 {
  margin-top: 45px; }

.m-b-45 {
  margin-bottom: 45px; }

.m-l-45 {
  margin-left: 45px; }

.m-r-45 {
  margin-right: 45px; }

@media (min-width: 768px) {
  .sm-m-l-45 {
    margin-left: 45px; }

  .sm-m-r-45 {
    margin-right: 45px; } }
@media (min-width: 992px) {
  .md-m-l-45 {
    margin-left: 45px; }

  .md-m-r-45 {
    margin-right: 45px; } }
@media (min-width: 1200px) {
  .lg-m-l-45 {
    margin-left: 45px; }

  .lg-m-r-45 {
    margin-right: 45px; } }
.m-t-50 {
  margin-top: 50px; }

.m-b-50 {
  margin-bottom: 50px; }

.m-l-50 {
  margin-left: 50px; }

.m-r-50 {
  margin-right: 50px; }

@media (min-width: 768px) {
  .sm-m-l-50 {
    margin-left: 50px; }

  .sm-m-r-50 {
    margin-right: 50px; } }
@media (min-width: 992px) {
  .md-m-l-50 {
    margin-left: 50px; }

  .md-m-r-50 {
    margin-right: 50px; } }
@media (min-width: 1200px) {
  .lg-m-l-50 {
    margin-left: 50px; }

  .lg-m-r-50 {
    margin-right: 50px; } }
.m-t-55 {
  margin-top: 55px; }

.m-b-55 {
  margin-bottom: 55px; }

.m-l-55 {
  margin-left: 55px; }

.m-r-55 {
  margin-right: 55px; }

@media (min-width: 768px) {
  .sm-m-l-55 {
    margin-left: 55px; }

  .sm-m-r-55 {
    margin-right: 55px; } }
@media (min-width: 992px) {
  .md-m-l-55 {
    margin-left: 55px; }

  .md-m-r-55 {
    margin-right: 55px; } }
@media (min-width: 1200px) {
  .lg-m-l-55 {
    margin-left: 55px; }

  .lg-m-r-55 {
    margin-right: 55px; } }
.m-t-60 {
  margin-top: 60px; }

.m-b-60 {
  margin-bottom: 60px; }

.m-l-60 {
  margin-left: 60px; }

.m-r-60 {
  margin-right: 60px; }

@media (min-width: 768px) {
  .sm-m-l-60 {
    margin-left: 60px; }

  .sm-m-r-60 {
    margin-right: 60px; } }
@media (min-width: 992px) {
  .md-m-l-60 {
    margin-left: 60px; }

  .md-m-r-60 {
    margin-right: 60px; } }
@media (min-width: 1200px) {
  .lg-m-l-60 {
    margin-left: 60px; }

  .lg-m-r-60 {
    margin-right: 60px; } }
.m-t-65 {
  margin-top: 65px; }

.m-b-65 {
  margin-bottom: 65px; }

.m-l-65 {
  margin-left: 65px; }

.m-r-65 {
  margin-right: 65px; }

@media (min-width: 768px) {
  .sm-m-l-65 {
    margin-left: 65px; }

  .sm-m-r-65 {
    margin-right: 65px; } }
@media (min-width: 992px) {
  .md-m-l-65 {
    margin-left: 65px; }

  .md-m-r-65 {
    margin-right: 65px; } }
@media (min-width: 1200px) {
  .lg-m-l-65 {
    margin-left: 65px; }

  .lg-m-r-65 {
    margin-right: 65px; } }
.m-t-70 {
  margin-top: 70px; }

.m-b-70 {
  margin-bottom: 70px; }

.m-l-70 {
  margin-left: 70px; }

.m-r-70 {
  margin-right: 70px; }

@media (min-width: 768px) {
  .sm-m-l-70 {
    margin-left: 70px; }

  .sm-m-r-70 {
    margin-right: 70px; } }
@media (min-width: 992px) {
  .md-m-l-70 {
    margin-left: 70px; }

  .md-m-r-70 {
    margin-right: 70px; } }
@media (min-width: 1200px) {
  .lg-m-l-70 {
    margin-left: 70px; }

  .lg-m-r-70 {
    margin-right: 70px; } }
.m-t-75 {
  margin-top: 75px; }

.m-b-75 {
  margin-bottom: 75px; }

.m-l-75 {
  margin-left: 75px; }

.m-r-75 {
  margin-right: 75px; }

@media (min-width: 768px) {
  .sm-m-l-75 {
    margin-left: 75px; }

  .sm-m-r-75 {
    margin-right: 75px; } }
@media (min-width: 992px) {
  .md-m-l-75 {
    margin-left: 75px; }

  .md-m-r-75 {
    margin-right: 75px; } }
@media (min-width: 1200px) {
  .lg-m-l-75 {
    margin-left: 75px; }

  .lg-m-r-75 {
    margin-right: 75px; } }
.m-t-80 {
  margin-top: 80px; }

.m-b-80 {
  margin-bottom: 80px; }

.m-l-80 {
  margin-left: 80px; }

.m-r-80 {
  margin-right: 80px; }

@media (min-width: 768px) {
  .sm-m-l-80 {
    margin-left: 80px; }

  .sm-m-r-80 {
    margin-right: 80px; } }
@media (min-width: 992px) {
  .md-m-l-80 {
    margin-left: 80px; }

  .md-m-r-80 {
    margin-right: 80px; } }
@media (min-width: 1200px) {
  .lg-m-l-80 {
    margin-left: 80px; }

  .lg-m-r-80 {
    margin-right: 80px; } }
.m-t-85 {
  margin-top: 85px; }

.m-b-85 {
  margin-bottom: 85px; }

.m-l-85 {
  margin-left: 85px; }

.m-r-85 {
  margin-right: 85px; }

@media (min-width: 768px) {
  .sm-m-l-85 {
    margin-left: 85px; }

  .sm-m-r-85 {
    margin-right: 85px; } }
@media (min-width: 992px) {
  .md-m-l-85 {
    margin-left: 85px; }

  .md-m-r-85 {
    margin-right: 85px; } }
@media (min-width: 1200px) {
  .lg-m-l-85 {
    margin-left: 85px; }

  .lg-m-r-85 {
    margin-right: 85px; } }
.m-t-90 {
  margin-top: 90px; }

.m-b-90 {
  margin-bottom: 90px; }

.m-l-90 {
  margin-left: 90px; }

.m-r-90 {
  margin-right: 90px; }

@media (min-width: 768px) {
  .sm-m-l-90 {
    margin-left: 90px; }

  .sm-m-r-90 {
    margin-right: 90px; } }
@media (min-width: 992px) {
  .md-m-l-90 {
    margin-left: 90px; }

  .md-m-r-90 {
    margin-right: 90px; } }
@media (min-width: 1200px) {
  .lg-m-l-90 {
    margin-left: 90px; }

  .lg-m-r-90 {
    margin-right: 90px; } }
.m-t-95 {
  margin-top: 95px; }

.m-b-95 {
  margin-bottom: 95px; }

.m-l-95 {
  margin-left: 95px; }

.m-r-95 {
  margin-right: 95px; }

@media (min-width: 768px) {
  .sm-m-l-95 {
    margin-left: 95px; }

  .sm-m-r-95 {
    margin-right: 95px; } }
@media (min-width: 992px) {
  .md-m-l-95 {
    margin-left: 95px; }

  .md-m-r-95 {
    margin-right: 95px; } }
@media (min-width: 1200px) {
  .lg-m-l-95 {
    margin-left: 95px; }

  .lg-m-r-95 {
    margin-right: 95px; } }
.m-t-100 {
  margin-top: 100px; }

.m-b-100 {
  margin-bottom: 100px; }

.m-l-100 {
  margin-left: 100px; }

.m-r-100 {
  margin-right: 100px; }

@media (min-width: 768px) {
  .sm-m-l-100 {
    margin-left: 100px; }

  .sm-m-r-100 {
    margin-right: 100px; } }
@media (min-width: 992px) {
  .md-m-l-100 {
    margin-left: 100px; }

  .md-m-r-100 {
    margin-right: 100px; } }
@media (min-width: 1200px) {
  .lg-m-l-100 {
    margin-left: 100px; }

  .lg-m-r-100 {
    margin-right: 100px; } }
.m-t-105 {
  margin-top: 105px; }

.m-b-105 {
  margin-bottom: 105px; }

.m-l-105 {
  margin-left: 105px; }

.m-r-105 {
  margin-right: 105px; }

@media (min-width: 768px) {
  .sm-m-l-105 {
    margin-left: 105px; }

  .sm-m-r-105 {
    margin-right: 105px; } }
@media (min-width: 992px) {
  .md-m-l-105 {
    margin-left: 105px; }

  .md-m-r-105 {
    margin-right: 105px; } }
@media (min-width: 1200px) {
  .lg-m-l-105 {
    margin-left: 105px; }

  .lg-m-r-105 {
    margin-right: 105px; } }
.m-t-110 {
  margin-top: 110px; }

.m-b-110 {
  margin-bottom: 110px; }

.m-l-110 {
  margin-left: 110px; }

.m-r-110 {
  margin-right: 110px; }

@media (min-width: 768px) {
  .sm-m-l-110 {
    margin-left: 110px; }

  .sm-m-r-110 {
    margin-right: 110px; } }
@media (min-width: 992px) {
  .md-m-l-110 {
    margin-left: 110px; }

  .md-m-r-110 {
    margin-right: 110px; } }
@media (min-width: 1200px) {
  .lg-m-l-110 {
    margin-left: 110px; }

  .lg-m-r-110 {
    margin-right: 110px; } }
.m-t-115 {
  margin-top: 115px; }

.m-b-115 {
  margin-bottom: 115px; }

.m-l-115 {
  margin-left: 115px; }

.m-r-115 {
  margin-right: 115px; }

@media (min-width: 768px) {
  .sm-m-l-115 {
    margin-left: 115px; }

  .sm-m-r-115 {
    margin-right: 115px; } }
@media (min-width: 992px) {
  .md-m-l-115 {
    margin-left: 115px; }

  .md-m-r-115 {
    margin-right: 115px; } }
@media (min-width: 1200px) {
  .lg-m-l-115 {
    margin-left: 115px; }

  .lg-m-r-115 {
    margin-right: 115px; } }
.m-t-120 {
  margin-top: 120px; }

.m-b-120 {
  margin-bottom: 120px; }

.m-l-120 {
  margin-left: 120px; }

.m-r-120 {
  margin-right: 120px; }

@media (min-width: 768px) {
  .sm-m-l-120 {
    margin-left: 120px; }

  .sm-m-r-120 {
    margin-right: 120px; } }
@media (min-width: 992px) {
  .md-m-l-120 {
    margin-left: 120px; }

  .md-m-r-120 {
    margin-right: 120px; } }
@media (min-width: 1200px) {
  .lg-m-l-120 {
    margin-left: 120px; }

  .lg-m-r-120 {
    margin-right: 120px; } }
.m-t-125 {
  margin-top: 125px; }

.m-b-125 {
  margin-bottom: 125px; }

.m-l-125 {
  margin-left: 125px; }

.m-r-125 {
  margin-right: 125px; }

@media (min-width: 768px) {
  .sm-m-l-125 {
    margin-left: 125px; }

  .sm-m-r-125 {
    margin-right: 125px; } }
@media (min-width: 992px) {
  .md-m-l-125 {
    margin-left: 125px; }

  .md-m-r-125 {
    margin-right: 125px; } }
@media (min-width: 1200px) {
  .lg-m-l-125 {
    margin-left: 125px; }

  .lg-m-r-125 {
    margin-right: 125px; } }
.m-t-130 {
  margin-top: 130px; }

.m-b-130 {
  margin-bottom: 130px; }

.m-l-130 {
  margin-left: 130px; }

.m-r-130 {
  margin-right: 130px; }

@media (min-width: 768px) {
  .sm-m-l-130 {
    margin-left: 130px; }

  .sm-m-r-130 {
    margin-right: 130px; } }
@media (min-width: 992px) {
  .md-m-l-130 {
    margin-left: 130px; }

  .md-m-r-130 {
    margin-right: 130px; } }
@media (min-width: 1200px) {
  .lg-m-l-130 {
    margin-left: 130px; }

  .lg-m-r-130 {
    margin-right: 130px; } }
.m-t-135 {
  margin-top: 135px; }

.m-b-135 {
  margin-bottom: 135px; }

.m-l-135 {
  margin-left: 135px; }

.m-r-135 {
  margin-right: 135px; }

@media (min-width: 768px) {
  .sm-m-l-135 {
    margin-left: 135px; }

  .sm-m-r-135 {
    margin-right: 135px; } }
@media (min-width: 992px) {
  .md-m-l-135 {
    margin-left: 135px; }

  .md-m-r-135 {
    margin-right: 135px; } }
@media (min-width: 1200px) {
  .lg-m-l-135 {
    margin-left: 135px; }

  .lg-m-r-135 {
    margin-right: 135px; } }
.m-t-140 {
  margin-top: 140px; }

.m-b-140 {
  margin-bottom: 140px; }

.m-l-140 {
  margin-left: 140px; }

.m-r-140 {
  margin-right: 140px; }

@media (min-width: 768px) {
  .sm-m-l-140 {
    margin-left: 140px; }

  .sm-m-r-140 {
    margin-right: 140px; } }
@media (min-width: 992px) {
  .md-m-l-140 {
    margin-left: 140px; }

  .md-m-r-140 {
    margin-right: 140px; } }
@media (min-width: 1200px) {
  .lg-m-l-140 {
    margin-left: 140px; }

  .lg-m-r-140 {
    margin-right: 140px; } }
.m-t-145 {
  margin-top: 145px; }

.m-b-145 {
  margin-bottom: 145px; }

.m-l-145 {
  margin-left: 145px; }

.m-r-145 {
  margin-right: 145px; }

@media (min-width: 768px) {
  .sm-m-l-145 {
    margin-left: 145px; }

  .sm-m-r-145 {
    margin-right: 145px; } }
@media (min-width: 992px) {
  .md-m-l-145 {
    margin-left: 145px; }

  .md-m-r-145 {
    margin-right: 145px; } }
@media (min-width: 1200px) {
  .lg-m-l-145 {
    margin-left: 145px; }

  .lg-m-r-145 {
    margin-right: 145px; } }
.m-t-150 {
  margin-top: 150px; }

.m-b-150 {
  margin-bottom: 150px; }

.m-l-150 {
  margin-left: 150px; }

.m-r-150 {
  margin-right: 150px; }

@media (min-width: 768px) {
  .sm-m-l-150 {
    margin-left: 150px; }

  .sm-m-r-150 {
    margin-right: 150px; } }
@media (min-width: 992px) {
  .md-m-l-150 {
    margin-left: 150px; }

  .md-m-r-150 {
    margin-right: 150px; } }
@media (min-width: 1200px) {
  .lg-m-l-150 {
    margin-left: 150px; }

  .lg-m-r-150 {
    margin-right: 150px; } }
.w-full {
  width: 100%; }

.xs-w-half {
  width: 50%; }

.xs-w-third {
  width: 33.333%; }

@media (min-width: 768px) {
  .sm-w-half {
    width: 50%; }

  .sm-w-third {
    width: 33.333%; } }
@media (min-width: 992px) {
  .md-w-half {
    width: 50%; }

  .md-w-third {
    width: 33.333%; } }
@media (min-width: 1200px) {
  .lg-w-half {
    width: 50%; }

  .lg-w-third {
    width: 33.333%; } }
.xs-w-0 {
  width: 0px; }

@media (min-width: 768px) {
  .sm-w-0 {
    width: 0px; } }
@media (min-width: 992px) {
  .md-w-0 {
    width: 0px; } }
@media (min-width: 1200px) {
  .lg-w-0 {
    width: 0px; } }
.xs-w-20 {
  width: 20px; }

@media (min-width: 768px) {
  .sm-w-20 {
    width: 20px; } }
@media (min-width: 992px) {
  .md-w-20 {
    width: 20px; } }
@media (min-width: 1200px) {
  .lg-w-20 {
    width: 20px; } }
.xs-w-40 {
  width: 40px; }

@media (min-width: 768px) {
  .sm-w-40 {
    width: 40px; } }
@media (min-width: 992px) {
  .md-w-40 {
    width: 40px; } }
@media (min-width: 1200px) {
  .lg-w-40 {
    width: 40px; } }
.xs-w-60 {
  width: 60px; }

@media (min-width: 768px) {
  .sm-w-60 {
    width: 60px; } }
@media (min-width: 992px) {
  .md-w-60 {
    width: 60px; } }
@media (min-width: 1200px) {
  .lg-w-60 {
    width: 60px; } }
.xs-w-80 {
  width: 80px; }

@media (min-width: 768px) {
  .sm-w-80 {
    width: 80px; } }
@media (min-width: 992px) {
  .md-w-80 {
    width: 80px; } }
@media (min-width: 1200px) {
  .lg-w-80 {
    width: 80px; } }
.xs-w-100 {
  width: 100px; }

@media (min-width: 768px) {
  .sm-w-100 {
    width: 100px; } }
@media (min-width: 992px) {
  .md-w-100 {
    width: 100px; } }
@media (min-width: 1200px) {
  .lg-w-100 {
    width: 100px; } }
.xs-w-120 {
  width: 120px; }

@media (min-width: 768px) {
  .sm-w-120 {
    width: 120px; } }
@media (min-width: 992px) {
  .md-w-120 {
    width: 120px; } }
@media (min-width: 1200px) {
  .lg-w-120 {
    width: 120px; } }
.xs-w-140 {
  width: 140px; }

@media (min-width: 768px) {
  .sm-w-140 {
    width: 140px; } }
@media (min-width: 992px) {
  .md-w-140 {
    width: 140px; } }
@media (min-width: 1200px) {
  .lg-w-140 {
    width: 140px; } }
.xs-w-160 {
  width: 160px; }

@media (min-width: 768px) {
  .sm-w-160 {
    width: 160px; } }
@media (min-width: 992px) {
  .md-w-160 {
    width: 160px; } }
@media (min-width: 1200px) {
  .lg-w-160 {
    width: 160px; } }
.xs-w-180 {
  width: 180px; }

@media (min-width: 768px) {
  .sm-w-180 {
    width: 180px; } }
@media (min-width: 992px) {
  .md-w-180 {
    width: 180px; } }
@media (min-width: 1200px) {
  .lg-w-180 {
    width: 180px; } }
.xs-w-200 {
  width: 200px; }

@media (min-width: 768px) {
  .sm-w-200 {
    width: 200px; } }
@media (min-width: 992px) {
  .md-w-200 {
    width: 200px; } }
@media (min-width: 1200px) {
  .lg-w-200 {
    width: 200px; } }
.xs-w-220 {
  width: 220px; }

@media (min-width: 768px) {
  .sm-w-220 {
    width: 220px; } }
@media (min-width: 992px) {
  .md-w-220 {
    width: 220px; } }
@media (min-width: 1200px) {
  .lg-w-220 {
    width: 220px; } }
.xs-w-240 {
  width: 240px; }

@media (min-width: 768px) {
  .sm-w-240 {
    width: 240px; } }
@media (min-width: 992px) {
  .md-w-240 {
    width: 240px; } }
@media (min-width: 1200px) {
  .lg-w-240 {
    width: 240px; } }
.xs-w-260 {
  width: 260px; }

@media (min-width: 768px) {
  .sm-w-260 {
    width: 260px; } }
@media (min-width: 992px) {
  .md-w-260 {
    width: 260px; } }
@media (min-width: 1200px) {
  .lg-w-260 {
    width: 260px; } }
.xs-w-280 {
  width: 280px; }

@media (min-width: 768px) {
  .sm-w-280 {
    width: 280px; } }
@media (min-width: 992px) {
  .md-w-280 {
    width: 280px; } }
@media (min-width: 1200px) {
  .lg-w-280 {
    width: 280px; } }
.xs-w-300 {
  width: 300px; }

@media (min-width: 768px) {
  .sm-w-300 {
    width: 300px; } }
@media (min-width: 992px) {
  .md-w-300 {
    width: 300px; } }
@media (min-width: 1200px) {
  .lg-w-300 {
    width: 300px; } }
.xs-w-320 {
  width: 320px; }

@media (min-width: 768px) {
  .sm-w-320 {
    width: 320px; } }
@media (min-width: 992px) {
  .md-w-320 {
    width: 320px; } }
@media (min-width: 1200px) {
  .lg-w-320 {
    width: 320px; } }
.xs-w-340 {
  width: 340px; }

@media (min-width: 768px) {
  .sm-w-340 {
    width: 340px; } }
@media (min-width: 992px) {
  .md-w-340 {
    width: 340px; } }
@media (min-width: 1200px) {
  .lg-w-340 {
    width: 340px; } }
.xs-w-360 {
  width: 360px; }

@media (min-width: 768px) {
  .sm-w-360 {
    width: 360px; } }
@media (min-width: 992px) {
  .md-w-360 {
    width: 360px; } }
@media (min-width: 1200px) {
  .lg-w-360 {
    width: 360px; } }
.xs-w-380 {
  width: 380px; }

@media (min-width: 768px) {
  .sm-w-380 {
    width: 380px; } }
@media (min-width: 992px) {
  .md-w-380 {
    width: 380px; } }
@media (min-width: 1200px) {
  .lg-w-380 {
    width: 380px; } }
.xs-w-400 {
  width: 400px; }

@media (min-width: 768px) {
  .sm-w-400 {
    width: 400px; } }
@media (min-width: 992px) {
  .md-w-400 {
    width: 400px; } }
@media (min-width: 1200px) {
  .lg-w-400 {
    width: 400px; } }
.xs-w-420 {
  width: 420px; }

@media (min-width: 768px) {
  .sm-w-420 {
    width: 420px; } }
@media (min-width: 992px) {
  .md-w-420 {
    width: 420px; } }
@media (min-width: 1200px) {
  .lg-w-420 {
    width: 420px; } }
.xs-w-440 {
  width: 440px; }

@media (min-width: 768px) {
  .sm-w-440 {
    width: 440px; } }
@media (min-width: 992px) {
  .md-w-440 {
    width: 440px; } }
@media (min-width: 1200px) {
  .lg-w-440 {
    width: 440px; } }
.xs-w-460 {
  width: 460px; }

@media (min-width: 768px) {
  .sm-w-460 {
    width: 460px; } }
@media (min-width: 992px) {
  .md-w-460 {
    width: 460px; } }
@media (min-width: 1200px) {
  .lg-w-460 {
    width: 460px; } }
.xs-w-480 {
  width: 480px; }

@media (min-width: 768px) {
  .sm-w-480 {
    width: 480px; } }
@media (min-width: 992px) {
  .md-w-480 {
    width: 480px; } }
@media (min-width: 1200px) {
  .lg-w-480 {
    width: 480px; } }
.xs-w-500 {
  width: 500px; }

@media (min-width: 768px) {
  .sm-w-500 {
    width: 500px; } }
@media (min-width: 992px) {
  .md-w-500 {
    width: 500px; } }
@media (min-width: 1200px) {
  .lg-w-500 {
    width: 500px; } }
.xs-w-520 {
  width: 520px; }

@media (min-width: 768px) {
  .sm-w-520 {
    width: 520px; } }
@media (min-width: 992px) {
  .md-w-520 {
    width: 520px; } }
@media (min-width: 1200px) {
  .lg-w-520 {
    width: 520px; } }
.xs-w-540 {
  width: 540px; }

@media (min-width: 768px) {
  .sm-w-540 {
    width: 540px; } }
@media (min-width: 992px) {
  .md-w-540 {
    width: 540px; } }
@media (min-width: 1200px) {
  .lg-w-540 {
    width: 540px; } }
.xs-w-560 {
  width: 560px; }

@media (min-width: 768px) {
  .sm-w-560 {
    width: 560px; } }
@media (min-width: 992px) {
  .md-w-560 {
    width: 560px; } }
@media (min-width: 1200px) {
  .lg-w-560 {
    width: 560px; } }
.xs-w-580 {
  width: 580px; }

@media (min-width: 768px) {
  .sm-w-580 {
    width: 580px; } }
@media (min-width: 992px) {
  .md-w-580 {
    width: 580px; } }
@media (min-width: 1200px) {
  .lg-w-580 {
    width: 580px; } }
.xs-w-600 {
  width: 600px; }

@media (min-width: 768px) {
  .sm-w-600 {
    width: 600px; } }
@media (min-width: 992px) {
  .md-w-600 {
    width: 600px; } }
@media (min-width: 1200px) {
  .lg-w-600 {
    width: 600px; } }
.affix {
  top: 0;
  width: 100%;
  z-index: 9999 !important; }

.affix + .container-fluid {
  padding-top: 70px; }

.navbar {
  border-radius: 0px; }

.site-man-logo {
  display: none; }
@media(min-width: 1024px) {
  .site-man-logo {
    display: block; } }
.navbar-nybsys {
  background-color: #219ece; }
  .navbar-nybsys .navbar {
    margin-bottom: 0px;
    min-height: auto; }
    @media (min-width: 768px) {
      .navbar-nybsys .navbar .navbar-nav > li > a {
        padding-top: 6px;
        padding-bottom: 6px; } }
    .navbar-nybsys .navbar a {
      color: #fff; }
    .navbar-nybsys .navbar .nav.navbar-nav li.first-link a {
      padding-left: 0px; }
    .navbar-nybsys .navbar .active a {
      background: #219ece; }
  .navbar-nybsys .dropdown-menu {
    background-color: #219ece; }

.nav > li > a:focus, .nav > li > a:hover,
.nav .open > a,
.nav .open > a:focus,
.nav .open > a:hover {
  background-color: #4c8da7; }

.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
  background-color: #4c8da7;
  color: #fff; }

.dropdown-menu {
  min-width: 181px; }

.nav > li > a:focus, .nav > li > a:hover {
  background-color: #4c8da7;
  color: #fff; }

.main-content {
  min-height: calc(100vh - 160px);
  background: #F2F2F2;
  padding-bottom: 30px; }

.nybsys-customer-details {
  margin-top: 50px; }
  .nybsys-customer-details .tab-content {
    background: #fff;
    border-color: #ddd;
    border-style: solid;
    border-width: 0px 1px 1px 1px; }

.site-footer {
  border-top: 1px solid #EDEDED;
  text-align: center;
  background: #F2F2F2; }

/*.copyright */
.footer-links {
  list-style-type: none;
  display: inline-block; }
  .footer-links li {
    float: left;
    text-align: left; }
    .footer-links li a {
      font-weight: bold; }
    .footer-links li:after {
      content: "|";
      padding: 0px 10px; }
    .footer-links li:last-child:after {
      content: ""; }

.nybsys-form .form-horizontal .form-group label {
  padding-left: 0px; }
@media (min-width: 768px) {
  .nybsys-form .form-horizontal .control-label {
    text-align: left; } }

.form-group {
  margin-bottom: 6px; }

.form-control {
  height: 28px;
  padding: 4px 6px;
  font-size: 12px; }

.txt-left-imp {
  text-align: left !important; }

.btn-circle {
  border-radius: 50%;
  padding: 0px;
  width: 15px;
  height: 15px;
  float: left;
  margin-top: 4px;
  margin-left: 4px;
  outline: 0px;
  background: transparent; }
  .btn-circle:active, .btn-circle:focus, .btn-circle:hover {
    outline: 0px; }
  .btn-circle i {
    font-size: 17px; }

.on-line {
  display: inline-block;
  width: 120px; }
  .on-line select {
    width: 80px;
    float: left; }

.mDetail {
  margin-right: 4.1%; }

.dropdown.open .dropdown-menu {
  background: #219ece; }
  .dropdown.open .dropdown-menu a {
    color: #fff; }

.table {
  background-color: whitesmoke; }

.base-form.label-w-120 .base-form-group label {
  width: 100%; }
  @media (min-width: 580px) {
    .base-form.label-w-120 .base-form-group label {
      width: 120px; } }
.base-form.label-w-120 .base-form-group > .form-control {
  width: 100%; }
  @media (min-width: 580px) {
    .base-form.label-w-120 .base-form-group > .form-control {
      width: calc( 100% - 120px ); } }
  .base-form.label-w-120 .base-form-group > .form-control.half {
    width: 100%; }
    @media (min-width: 400px) {
      .base-form.label-w-120 .base-form-group > .form-control.half {
        width: 50%; } }
    @media (min-width: 580px) {
      .base-form.label-w-120 .base-form-group > .form-control.half {
        width: calc( (100% - 120px) / 2 ); } }
  .base-form.label-w-120 .base-form-group > .form-control.w-0 {
    width: 0px; }
  .base-form.label-w-120 .base-form-group > .form-control.w-20 {
    width: 20px; }
  .base-form.label-w-120 .base-form-group > .form-control.w-40 {
    width: 40px; }
  .base-form.label-w-120 .base-form-group > .form-control.w-60 {
    width: 60px; }
  .base-form.label-w-120 .base-form-group > .form-control.w-80 {
    width: 80px; }
  .base-form.label-w-120 .base-form-group > .form-control.w-100 {
    width: 100px; }
  .base-form.label-w-120 .base-form-group > .form-control.w-120 {
    width: 120px; }
  .base-form.label-w-120 .base-form-group > .form-control.w-140 {
    width: 140px; }
  .base-form.label-w-120 .base-form-group > .form-control.w-160 {
    width: 160px; }
  .base-form.label-w-120 .base-form-group > .form-control.w-180 {
    width: 180px; }
  .base-form.label-w-120 .base-form-group > .form-control.w-200 {
    width: 200px; }
  .base-form.label-w-120 .base-form-group > .form-control.w-220 {
    width: 220px; }
  .base-form.label-w-120 .base-form-group > .form-control.w-240 {
    width: 240px; }
  .base-form.label-w-120 .base-form-group > .form-control.w-260 {
    width: 260px; }
  .base-form.label-w-120 .base-form-group > .form-control.w-280 {
    width: 280px; }
  .base-form.label-w-120 .base-form-group > .form-control.w-300 {
    width: 300px; }
  .base-form.label-w-120 .base-form-group > .form-control.w-320 {
    width: 320px; }
  .base-form.label-w-120 .base-form-group > .form-control.w-340 {
    width: 340px; }
  .base-form.label-w-120 .base-form-group > .form-control.w-360 {
    width: 360px; }
  .base-form.label-w-120 .base-form-group > .form-control.w-380 {
    width: 380px; }
  .base-form.label-w-120 .base-form-group > .form-control.w-400 {
    width: 400px; }
  .base-form.label-w-120 .base-form-group > .form-control.w-420 {
    width: 420px; }
  .base-form.label-w-120 .base-form-group > .form-control.w-440 {
    width: 440px; }
  .base-form.label-w-120 .base-form-group > .form-control.w-460 {
    width: 460px; }
  .base-form.label-w-120 .base-form-group > .form-control.w-480 {
    width: 480px; }
  .base-form.label-w-120 .base-form-group > .form-control.w-500 {
    width: 500px; }
  .base-form.label-w-120 .base-form-group > .form-control.w-520 {
    width: 520px; }
  .base-form.label-w-120 .base-form-group > .form-control.w-540 {
    width: 540px; }
  .base-form.label-w-120 .base-form-group > .form-control.w-560 {
    width: 560px; }
  .base-form.label-w-120 .base-form-group > .form-control.w-580 {
    width: 580px; }
  .base-form.label-w-120 .base-form-group > .form-control.w-600 {
    width: 600px; }
.base-form.label-w-120 .base-form-group > .half {
  width: 100%; }
  @media (min-width: 400px) {
    .base-form.label-w-120 .base-form-group > .half {
      width: 50%; } }
  @media (min-width: 580px) {
    .base-form.label-w-120 .base-form-group > .half {
      width: calc( (100% - 120px) / 2 ); } }
.base-form.label-w-130 .base-form-group label {
  width: 100%; }
  @media (min-width: 580px) {
    .base-form.label-w-130 .base-form-group label {
      width: 130px; } }
.base-form.label-w-130 .base-form-group > .form-control {
  width: 100%; }
  @media (min-width: 580px) {
    .base-form.label-w-130 .base-form-group > .form-control {
      width: calc( 100% - 130px ); } }
  .base-form.label-w-130 .base-form-group > .form-control.half {
    width: 100%; }
    @media (min-width: 400px) {
      .base-form.label-w-130 .base-form-group > .form-control.half {
        width: 50%; } }
    @media (min-width: 580px) {
      .base-form.label-w-130 .base-form-group > .form-control.half {
        width: calc( (100% - 130px) / 2 ); } }
  .base-form.label-w-130 .base-form-group > .form-control.w-0 {
    width: 0px; }
  .base-form.label-w-130 .base-form-group > .form-control.w-20 {
    width: 20px; }
  .base-form.label-w-130 .base-form-group > .form-control.w-40 {
    width: 40px; }
  .base-form.label-w-130 .base-form-group > .form-control.w-60 {
    width: 60px; }
  .base-form.label-w-130 .base-form-group > .form-control.w-80 {
    width: 80px; }
  .base-form.label-w-130 .base-form-group > .form-control.w-100 {
    width: 100px; }
  .base-form.label-w-130 .base-form-group > .form-control.w-120 {
    width: 120px; }
  .base-form.label-w-130 .base-form-group > .form-control.w-140 {
    width: 140px; }
  .base-form.label-w-130 .base-form-group > .form-control.w-160 {
    width: 160px; }
  .base-form.label-w-130 .base-form-group > .form-control.w-180 {
    width: 180px; }
  .base-form.label-w-130 .base-form-group > .form-control.w-200 {
    width: 200px; }
  .base-form.label-w-130 .base-form-group > .form-control.w-220 {
    width: 220px; }
  .base-form.label-w-130 .base-form-group > .form-control.w-240 {
    width: 240px; }
  .base-form.label-w-130 .base-form-group > .form-control.w-260 {
    width: 260px; }
  .base-form.label-w-130 .base-form-group > .form-control.w-280 {
    width: 280px; }
  .base-form.label-w-130 .base-form-group > .form-control.w-300 {
    width: 300px; }
  .base-form.label-w-130 .base-form-group > .form-control.w-320 {
    width: 320px; }
  .base-form.label-w-130 .base-form-group > .form-control.w-340 {
    width: 340px; }
  .base-form.label-w-130 .base-form-group > .form-control.w-360 {
    width: 360px; }
  .base-form.label-w-130 .base-form-group > .form-control.w-380 {
    width: 380px; }
  .base-form.label-w-130 .base-form-group > .form-control.w-400 {
    width: 400px; }
  .base-form.label-w-130 .base-form-group > .form-control.w-420 {
    width: 420px; }
  .base-form.label-w-130 .base-form-group > .form-control.w-440 {
    width: 440px; }
  .base-form.label-w-130 .base-form-group > .form-control.w-460 {
    width: 460px; }
  .base-form.label-w-130 .base-form-group > .form-control.w-480 {
    width: 480px; }
  .base-form.label-w-130 .base-form-group > .form-control.w-500 {
    width: 500px; }
  .base-form.label-w-130 .base-form-group > .form-control.w-520 {
    width: 520px; }
  .base-form.label-w-130 .base-form-group > .form-control.w-540 {
    width: 540px; }
  .base-form.label-w-130 .base-form-group > .form-control.w-560 {
    width: 560px; }
  .base-form.label-w-130 .base-form-group > .form-control.w-580 {
    width: 580px; }
  .base-form.label-w-130 .base-form-group > .form-control.w-600 {
    width: 600px; }
.base-form.label-w-130 .base-form-group > .half {
  width: 100%; }
  @media (min-width: 400px) {
    .base-form.label-w-130 .base-form-group > .half {
      width: 50%; } }
  @media (min-width: 580px) {
    .base-form.label-w-130 .base-form-group > .half {
      width: calc( (100% - 130px) / 2 ); } }
.base-form.label-w-140 .base-form-group label {
  width: 100%; }
  @media (min-width: 580px) {
    .base-form.label-w-140 .base-form-group label {
      width: 140px; } }
.base-form.label-w-140 .base-form-group > .form-control {
  width: 100%; }
  @media (min-width: 580px) {
    .base-form.label-w-140 .base-form-group > .form-control {
      width: calc( 100% - 140px ); } }
  .base-form.label-w-140 .base-form-group > .form-control.half {
    width: 100%; }
    @media (min-width: 400px) {
      .base-form.label-w-140 .base-form-group > .form-control.half {
        width: 50%; } }
    @media (min-width: 580px) {
      .base-form.label-w-140 .base-form-group > .form-control.half {
        width: calc( (100% - 140px) / 2 ); } }
  .base-form.label-w-140 .base-form-group > .form-control.w-0 {
    width: 0px; }
  .base-form.label-w-140 .base-form-group > .form-control.w-20 {
    width: 20px; }
  .base-form.label-w-140 .base-form-group > .form-control.w-40 {
    width: 40px; }
  .base-form.label-w-140 .base-form-group > .form-control.w-60 {
    width: 60px; }
  .base-form.label-w-140 .base-form-group > .form-control.w-80 {
    width: 80px; }
  .base-form.label-w-140 .base-form-group > .form-control.w-100 {
    width: 100px; }
  .base-form.label-w-140 .base-form-group > .form-control.w-120 {
    width: 120px; }
  .base-form.label-w-140 .base-form-group > .form-control.w-140 {
    width: 140px; }
  .base-form.label-w-140 .base-form-group > .form-control.w-160 {
    width: 160px; }
  .base-form.label-w-140 .base-form-group > .form-control.w-180 {
    width: 180px; }
  .base-form.label-w-140 .base-form-group > .form-control.w-200 {
    width: 200px; }
  .base-form.label-w-140 .base-form-group > .form-control.w-220 {
    width: 220px; }
  .base-form.label-w-140 .base-form-group > .form-control.w-240 {
    width: 240px; }
  .base-form.label-w-140 .base-form-group > .form-control.w-260 {
    width: 260px; }
  .base-form.label-w-140 .base-form-group > .form-control.w-280 {
    width: 280px; }
  .base-form.label-w-140 .base-form-group > .form-control.w-300 {
    width: 300px; }
  .base-form.label-w-140 .base-form-group > .form-control.w-320 {
    width: 320px; }
  .base-form.label-w-140 .base-form-group > .form-control.w-340 {
    width: 340px; }
  .base-form.label-w-140 .base-form-group > .form-control.w-360 {
    width: 360px; }
  .base-form.label-w-140 .base-form-group > .form-control.w-380 {
    width: 380px; }
  .base-form.label-w-140 .base-form-group > .form-control.w-400 {
    width: 400px; }
  .base-form.label-w-140 .base-form-group > .form-control.w-420 {
    width: 420px; }
  .base-form.label-w-140 .base-form-group > .form-control.w-440 {
    width: 440px; }
  .base-form.label-w-140 .base-form-group > .form-control.w-460 {
    width: 460px; }
  .base-form.label-w-140 .base-form-group > .form-control.w-480 {
    width: 480px; }
  .base-form.label-w-140 .base-form-group > .form-control.w-500 {
    width: 500px; }
  .base-form.label-w-140 .base-form-group > .form-control.w-520 {
    width: 520px; }
  .base-form.label-w-140 .base-form-group > .form-control.w-540 {
    width: 540px; }
  .base-form.label-w-140 .base-form-group > .form-control.w-560 {
    width: 560px; }
  .base-form.label-w-140 .base-form-group > .form-control.w-580 {
    width: 580px; }
  .base-form.label-w-140 .base-form-group > .form-control.w-600 {
    width: 600px; }
.base-form.label-w-140 .base-form-group > .half {
  width: 100%; }
  @media (min-width: 400px) {
    .base-form.label-w-140 .base-form-group > .half {
      width: 50%; } }
  @media (min-width: 580px) {
    .base-form.label-w-140 .base-form-group > .half {
      width: calc( (100% - 140px) / 2 ); } }
.base-form.label-w-150 .base-form-group label {
  width: 100%; }
  @media (min-width: 580px) {
    .base-form.label-w-150 .base-form-group label {
      width: 150px; } }
.base-form.label-w-150 .base-form-group > .form-control {
  width: 100%; }
  @media (min-width: 580px) {
    .base-form.label-w-150 .base-form-group > .form-control {
      width: calc( 100% - 150px ); } }
  .base-form.label-w-150 .base-form-group > .form-control.half {
    width: 100%; }
    @media (min-width: 400px) {
      .base-form.label-w-150 .base-form-group > .form-control.half {
        width: 50%; } }
    @media (min-width: 580px) {
      .base-form.label-w-150 .base-form-group > .form-control.half {
        width: calc( (100% - 150px) / 2 ); } }
  .base-form.label-w-150 .base-form-group > .form-control.w-0 {
    width: 0px; }
  .base-form.label-w-150 .base-form-group > .form-control.w-20 {
    width: 20px; }
  .base-form.label-w-150 .base-form-group > .form-control.w-40 {
    width: 40px; }
  .base-form.label-w-150 .base-form-group > .form-control.w-60 {
    width: 60px; }
  .base-form.label-w-150 .base-form-group > .form-control.w-80 {
    width: 80px; }
  .base-form.label-w-150 .base-form-group > .form-control.w-100 {
    width: 100px; }
  .base-form.label-w-150 .base-form-group > .form-control.w-120 {
    width: 120px; }
  .base-form.label-w-150 .base-form-group > .form-control.w-140 {
    width: 140px; }
  .base-form.label-w-150 .base-form-group > .form-control.w-160 {
    width: 160px; }
  .base-form.label-w-150 .base-form-group > .form-control.w-180 {
    width: 180px; }
  .base-form.label-w-150 .base-form-group > .form-control.w-200 {
    width: 200px; }
  .base-form.label-w-150 .base-form-group > .form-control.w-220 {
    width: 220px; }
  .base-form.label-w-150 .base-form-group > .form-control.w-240 {
    width: 240px; }
  .base-form.label-w-150 .base-form-group > .form-control.w-260 {
    width: 260px; }
  .base-form.label-w-150 .base-form-group > .form-control.w-280 {
    width: 280px; }
  .base-form.label-w-150 .base-form-group > .form-control.w-300 {
    width: 300px; }
  .base-form.label-w-150 .base-form-group > .form-control.w-320 {
    width: 320px; }
  .base-form.label-w-150 .base-form-group > .form-control.w-340 {
    width: 340px; }
  .base-form.label-w-150 .base-form-group > .form-control.w-360 {
    width: 360px; }
  .base-form.label-w-150 .base-form-group > .form-control.w-380 {
    width: 380px; }
  .base-form.label-w-150 .base-form-group > .form-control.w-400 {
    width: 400px; }
  .base-form.label-w-150 .base-form-group > .form-control.w-420 {
    width: 420px; }
  .base-form.label-w-150 .base-form-group > .form-control.w-440 {
    width: 440px; }
  .base-form.label-w-150 .base-form-group > .form-control.w-460 {
    width: 460px; }
  .base-form.label-w-150 .base-form-group > .form-control.w-480 {
    width: 480px; }
  .base-form.label-w-150 .base-form-group > .form-control.w-500 {
    width: 500px; }
  .base-form.label-w-150 .base-form-group > .form-control.w-520 {
    width: 520px; }
  .base-form.label-w-150 .base-form-group > .form-control.w-540 {
    width: 540px; }
  .base-form.label-w-150 .base-form-group > .form-control.w-560 {
    width: 560px; }
  .base-form.label-w-150 .base-form-group > .form-control.w-580 {
    width: 580px; }
  .base-form.label-w-150 .base-form-group > .form-control.w-600 {
    width: 600px; }
.base-form.label-w-150 .base-form-group > .half {
  width: 100%; }
  @media (min-width: 400px) {
    .base-form.label-w-150 .base-form-group > .half {
      width: 50%; } }
  @media (min-width: 580px) {
    .base-form.label-w-150 .base-form-group > .half {
      width: calc( (100% - 150px) / 2 ); } }
.base-form.label-w-160 .base-form-group label {
  width: 100%; }
  @media (min-width: 580px) {
    .base-form.label-w-160 .base-form-group label {
      width: 160px; } }
.base-form.label-w-160 .base-form-group > .form-control {
  width: 100%; }
  @media (min-width: 580px) {
    .base-form.label-w-160 .base-form-group > .form-control {
      width: calc( 100% - 160px ); } }
  .base-form.label-w-160 .base-form-group > .form-control.half {
    width: 100%; }
    @media (min-width: 400px) {
      .base-form.label-w-160 .base-form-group > .form-control.half {
        width: 50%; } }
    @media (min-width: 580px) {
      .base-form.label-w-160 .base-form-group > .form-control.half {
        width: calc( (100% - 160px) / 2 ); } }
  .base-form.label-w-160 .base-form-group > .form-control.w-0 {
    width: 0px; }
  .base-form.label-w-160 .base-form-group > .form-control.w-20 {
    width: 20px; }
  .base-form.label-w-160 .base-form-group > .form-control.w-40 {
    width: 40px; }
  .base-form.label-w-160 .base-form-group > .form-control.w-60 {
    width: 60px; }
  .base-form.label-w-160 .base-form-group > .form-control.w-80 {
    width: 80px; }
  .base-form.label-w-160 .base-form-group > .form-control.w-100 {
    width: 100px; }
  .base-form.label-w-160 .base-form-group > .form-control.w-120 {
    width: 120px; }
  .base-form.label-w-160 .base-form-group > .form-control.w-140 {
    width: 140px; }
  .base-form.label-w-160 .base-form-group > .form-control.w-160 {
    width: 160px; }
  .base-form.label-w-160 .base-form-group > .form-control.w-180 {
    width: 180px; }
  .base-form.label-w-160 .base-form-group > .form-control.w-200 {
    width: 200px; }
  .base-form.label-w-160 .base-form-group > .form-control.w-220 {
    width: 220px; }
  .base-form.label-w-160 .base-form-group > .form-control.w-240 {
    width: 240px; }
  .base-form.label-w-160 .base-form-group > .form-control.w-260 {
    width: 260px; }
  .base-form.label-w-160 .base-form-group > .form-control.w-280 {
    width: 280px; }
  .base-form.label-w-160 .base-form-group > .form-control.w-300 {
    width: 300px; }
  .base-form.label-w-160 .base-form-group > .form-control.w-320 {
    width: 320px; }
  .base-form.label-w-160 .base-form-group > .form-control.w-340 {
    width: 340px; }
  .base-form.label-w-160 .base-form-group > .form-control.w-360 {
    width: 360px; }
  .base-form.label-w-160 .base-form-group > .form-control.w-380 {
    width: 380px; }
  .base-form.label-w-160 .base-form-group > .form-control.w-400 {
    width: 400px; }
  .base-form.label-w-160 .base-form-group > .form-control.w-420 {
    width: 420px; }
  .base-form.label-w-160 .base-form-group > .form-control.w-440 {
    width: 440px; }
  .base-form.label-w-160 .base-form-group > .form-control.w-460 {
    width: 460px; }
  .base-form.label-w-160 .base-form-group > .form-control.w-480 {
    width: 480px; }
  .base-form.label-w-160 .base-form-group > .form-control.w-500 {
    width: 500px; }
  .base-form.label-w-160 .base-form-group > .form-control.w-520 {
    width: 520px; }
  .base-form.label-w-160 .base-form-group > .form-control.w-540 {
    width: 540px; }
  .base-form.label-w-160 .base-form-group > .form-control.w-560 {
    width: 560px; }
  .base-form.label-w-160 .base-form-group > .form-control.w-580 {
    width: 580px; }
  .base-form.label-w-160 .base-form-group > .form-control.w-600 {
    width: 600px; }
.base-form.label-w-160 .base-form-group > .half {
  width: 100%; }
  @media (min-width: 400px) {
    .base-form.label-w-160 .base-form-group > .half {
      width: 50%; } }
  @media (min-width: 580px) {
    .base-form.label-w-160 .base-form-group > .half {
      width: calc( (100% - 160px) / 2 ); } }
.base-form.label-w-170 .base-form-group label {
  width: 100%; }
  @media (min-width: 580px) {
    .base-form.label-w-170 .base-form-group label {
      width: 170px; } }
.base-form.label-w-170 .base-form-group > .form-control {
  width: 100%; }
  @media (min-width: 580px) {
    .base-form.label-w-170 .base-form-group > .form-control {
      width: calc( 100% - 170px ); } }
  .base-form.label-w-170 .base-form-group > .form-control.half {
    width: 100%; }
    @media (min-width: 400px) {
      .base-form.label-w-170 .base-form-group > .form-control.half {
        width: 50%; } }
    @media (min-width: 580px) {
      .base-form.label-w-170 .base-form-group > .form-control.half {
        width: calc( (100% - 170px) / 2 ); } }
  .base-form.label-w-170 .base-form-group > .form-control.w-0 {
    width: 0px; }
  .base-form.label-w-170 .base-form-group > .form-control.w-20 {
    width: 20px; }
  .base-form.label-w-170 .base-form-group > .form-control.w-40 {
    width: 40px; }
  .base-form.label-w-170 .base-form-group > .form-control.w-60 {
    width: 60px; }
  .base-form.label-w-170 .base-form-group > .form-control.w-80 {
    width: 80px; }
  .base-form.label-w-170 .base-form-group > .form-control.w-100 {
    width: 100px; }
  .base-form.label-w-170 .base-form-group > .form-control.w-120 {
    width: 120px; }
  .base-form.label-w-170 .base-form-group > .form-control.w-140 {
    width: 140px; }
  .base-form.label-w-170 .base-form-group > .form-control.w-160 {
    width: 160px; }
  .base-form.label-w-170 .base-form-group > .form-control.w-180 {
    width: 180px; }
  .base-form.label-w-170 .base-form-group > .form-control.w-200 {
    width: 200px; }
  .base-form.label-w-170 .base-form-group > .form-control.w-220 {
    width: 220px; }
  .base-form.label-w-170 .base-form-group > .form-control.w-240 {
    width: 240px; }
  .base-form.label-w-170 .base-form-group > .form-control.w-260 {
    width: 260px; }
  .base-form.label-w-170 .base-form-group > .form-control.w-280 {
    width: 280px; }
  .base-form.label-w-170 .base-form-group > .form-control.w-300 {
    width: 300px; }
  .base-form.label-w-170 .base-form-group > .form-control.w-320 {
    width: 320px; }
  .base-form.label-w-170 .base-form-group > .form-control.w-340 {
    width: 340px; }
  .base-form.label-w-170 .base-form-group > .form-control.w-360 {
    width: 360px; }
  .base-form.label-w-170 .base-form-group > .form-control.w-380 {
    width: 380px; }
  .base-form.label-w-170 .base-form-group > .form-control.w-400 {
    width: 400px; }
  .base-form.label-w-170 .base-form-group > .form-control.w-420 {
    width: 420px; }
  .base-form.label-w-170 .base-form-group > .form-control.w-440 {
    width: 440px; }
  .base-form.label-w-170 .base-form-group > .form-control.w-460 {
    width: 460px; }
  .base-form.label-w-170 .base-form-group > .form-control.w-480 {
    width: 480px; }
  .base-form.label-w-170 .base-form-group > .form-control.w-500 {
    width: 500px; }
  .base-form.label-w-170 .base-form-group > .form-control.w-520 {
    width: 520px; }
  .base-form.label-w-170 .base-form-group > .form-control.w-540 {
    width: 540px; }
  .base-form.label-w-170 .base-form-group > .form-control.w-560 {
    width: 560px; }
  .base-form.label-w-170 .base-form-group > .form-control.w-580 {
    width: 580px; }
  .base-form.label-w-170 .base-form-group > .form-control.w-600 {
    width: 600px; }
.base-form.label-w-170 .base-form-group > .half {
  width: 100%; }
  @media (min-width: 400px) {
    .base-form.label-w-170 .base-form-group > .half {
      width: 50%; } }
  @media (min-width: 580px) {
    .base-form.label-w-170 .base-form-group > .half {
      width: calc( (100% - 170px) / 2 ); } }
.base-form.label-w-180 .base-form-group label {
  width: 100%; }
  @media (min-width: 580px) {
    .base-form.label-w-180 .base-form-group label {
      width: 180px; } }
.base-form.label-w-180 .base-form-group > .form-control {
  width: 100%; }
  @media (min-width: 580px) {
    .base-form.label-w-180 .base-form-group > .form-control {
      width: calc( 100% - 180px ); } }
  .base-form.label-w-180 .base-form-group > .form-control.half {
    width: 100%; }
    @media (min-width: 400px) {
      .base-form.label-w-180 .base-form-group > .form-control.half {
        width: 50%; } }
    @media (min-width: 580px) {
      .base-form.label-w-180 .base-form-group > .form-control.half {
        width: calc( (100% - 180px) / 2 ); } }
  .base-form.label-w-180 .base-form-group > .form-control.w-0 {
    width: 0px; }
  .base-form.label-w-180 .base-form-group > .form-control.w-20 {
    width: 20px; }
  .base-form.label-w-180 .base-form-group > .form-control.w-40 {
    width: 40px; }
  .base-form.label-w-180 .base-form-group > .form-control.w-60 {
    width: 60px; }
  .base-form.label-w-180 .base-form-group > .form-control.w-80 {
    width: 80px; }
  .base-form.label-w-180 .base-form-group > .form-control.w-100 {
    width: 100px; }
  .base-form.label-w-180 .base-form-group > .form-control.w-120 {
    width: 120px; }
  .base-form.label-w-180 .base-form-group > .form-control.w-140 {
    width: 140px; }
  .base-form.label-w-180 .base-form-group > .form-control.w-160 {
    width: 160px; }
  .base-form.label-w-180 .base-form-group > .form-control.w-180 {
    width: 180px; }
  .base-form.label-w-180 .base-form-group > .form-control.w-200 {
    width: 200px; }
  .base-form.label-w-180 .base-form-group > .form-control.w-220 {
    width: 220px; }
  .base-form.label-w-180 .base-form-group > .form-control.w-240 {
    width: 240px; }
  .base-form.label-w-180 .base-form-group > .form-control.w-260 {
    width: 260px; }
  .base-form.label-w-180 .base-form-group > .form-control.w-280 {
    width: 280px; }
  .base-form.label-w-180 .base-form-group > .form-control.w-300 {
    width: 300px; }
  .base-form.label-w-180 .base-form-group > .form-control.w-320 {
    width: 320px; }
  .base-form.label-w-180 .base-form-group > .form-control.w-340 {
    width: 340px; }
  .base-form.label-w-180 .base-form-group > .form-control.w-360 {
    width: 360px; }
  .base-form.label-w-180 .base-form-group > .form-control.w-380 {
    width: 380px; }
  .base-form.label-w-180 .base-form-group > .form-control.w-400 {
    width: 400px; }
  .base-form.label-w-180 .base-form-group > .form-control.w-420 {
    width: 420px; }
  .base-form.label-w-180 .base-form-group > .form-control.w-440 {
    width: 440px; }
  .base-form.label-w-180 .base-form-group > .form-control.w-460 {
    width: 460px; }
  .base-form.label-w-180 .base-form-group > .form-control.w-480 {
    width: 480px; }
  .base-form.label-w-180 .base-form-group > .form-control.w-500 {
    width: 500px; }
  .base-form.label-w-180 .base-form-group > .form-control.w-520 {
    width: 520px; }
  .base-form.label-w-180 .base-form-group > .form-control.w-540 {
    width: 540px; }
  .base-form.label-w-180 .base-form-group > .form-control.w-560 {
    width: 560px; }
  .base-form.label-w-180 .base-form-group > .form-control.w-580 {
    width: 580px; }
  .base-form.label-w-180 .base-form-group > .form-control.w-600 {
    width: 600px; }
.base-form.label-w-180 .base-form-group > .half {
  width: 100%; }
  @media (min-width: 400px) {
    .base-form.label-w-180 .base-form-group > .half {
      width: 50%; } }
  @media (min-width: 580px) {
    .base-form.label-w-180 .base-form-group > .half {
      width: calc( (100% - 180px) / 2 ); } }
.base-form .base-form-group {
  display: inline-block;
  width: 100%;
  margin-bottom: 2px; }
  .base-form .base-form-group label {
    float: left; }
  .base-form .base-form-group .form-control {
    float: left; }

.well {
  background-color: #fcfcfc; }

.site-headaer {
  background-color: #219ece;
  min-height: 32px;
  width: 100%;
  position: relative;
  z-index: 9; }

.site-headaer a {
  color: white;
  font-size: 12px; }

.navbar-right-section,
.navbar-left-section,
.small-screen-logo {
  width: 33.33333%;
  float: left; }

.menu-social-btn,
.menu-btn {
  position: relative;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 12px 15px;
  border-radius: 3px; }
  .menu-social-btn:active, .menu-social-btn:hover, .menu-social-btn:focus,
  .menu-btn:active,
  .menu-btn:hover,
  .menu-btn:focus {
    background: transparent !important;
    border-color: transparent !important;
    outline: 0; }

.small-screen-logo {
  margin-top: 7px;
  font-weight: bold; }

.left-menu-toggle,
.right-menu-toggle {
  margin: 4px; }

.menu-social-btn .icon-bar,
.menu-btn .icon-bar {
  width: 19px;
  height: 2px;
  position: absolute;
  top: 5px;
  background: #fff;
  left: 5px; }

.menu-social-btn {
  background: transparent;
  border-width: 0px;
  transform: rotate(90deg); }

.menu-social-btn .icon-bar {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  top: 10px;
  background: white; }

.menu-social-btn:active,
.menu-social-btn:hover,
.menu-social-btn:focus {
  background: #4c8da7;
  outline: 0; }

.menu-social-btn .icon-bar:nth-child(3) {
  left: 13px; }

.menu-social-btn .icon-bar:nth-child(4) {
  left: 21px; }

.menu-btn .icon-bar:nth-child(3) {
  top: 11px; }

.menu-btn .icon-bar:nth-child(4) {
  top: 17px; }

.small-screen-logo {
  color: #fff;
  text-align: center; }

.site-navbar-2.navbar-right,
.site-navbar.navbar-left {
  position: fixed;
  top: 30px;
  left: 0px;
  transform: translate(-300px, 0px);
  width: 200px;
  height: 100%;
  background: #38B349;
  transition: transform 200ms ease-in;
  overflow: auto; }

.right-menu-toggle {
  float: right; }

.shade {
  height: 100%;
  width: 100%;
  background: black;
  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  opacity: .3;
  z-index: 1;
  display: none; }

.site-navbar-2.navbar-right {
  right: 0px;
  left: auto;
  transform: translate(300px, 0px); }

.site-navbar-2.navbar-right.open,
.site-navbar.navbar-left.open {
  transform: translate(0px, 0px); }

.site-navbar .dropdown-menu {
  position: static;
  float: none;
  width: auto;
  margin-top: 0;
  background-color: transparent;
  box-shadow: none;
  border: 0; }

.site-navbar li > .dropdown-menu {
  border-top-left-radius: 0;
  border-top-right-radius: 0; }

.site-navbar-2.navbar-right .nav > li {
  float: none; }

.site-navbar,
.site-navbar-2 {
  padding: 15px; }

.navbar-right-section {
  float: right; }

.navbar-left-section {
  display: inline-block; }

.nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
  background-color: #4c8da7; }

.site-navbar .dropdown-menu a {
  color: #fff; }

.site-navbar .dropdown-menu a:hover {
  color: #dcdcdc;
  background-color: #4c8da7; }

.visible-min {
  display: block; }

@media (min-width: 1024px) {
  .visible-min {
    display: none; }

  .site-navbar-2.navbar-right,
  .site-navbar.navbar-left {
    position: static;
    background: #219ece;
    transform: translate(0px, 0px);
    overflow: visible;
    width: 100%; }

  .navbar-nav > li > a {
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 8px;
    padding-right: 8px; }

  .site-navbar, .site-navbar-2 {
    padding: 0px; }

  .shade {
    display: none !important; }

  /*
  .site-navbar.navbar-left ul li {
      float: left;
  }
  */
  .site-navbar-2.navbar-right .nav > li {
    float: left; }

  .site-navbar .dropdown-menu {
    position: absolute;
    float: left;
    background-color: white;
    box-shadow: none;
    border: 0; }

  .site-navbar .dropdown-menu {
    background-color: #219ece;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    border: 1px solid rgba(0, 0, 0, 0.15); }

  .navbar-left-section {
    width: calc(100% - 284px); }

  .small-screen-logo {
    width: 0px; }

  .navbar-right-section {
    width: 284px; } }
/*--------------------------
modal css
*/
.modal-title {
  font-size: 16px; }

button.close {
  opacity: .7; }

.modal-header {
  background: #383838;
  padding: 4px 10px;
  border: 0px;
  color: #fff; }

.close {
  float: right;
  font-size: 18px;
  font-weight: 100;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: .2; }

.modal-header .close {
  margin-top: 1px; }

.modal-footer {
  border-top: 0px !important; }

.journalInfoList {
  padding-top: 100px; }

@media (min-width: 768px) {
  .form-horizontal .control-label {
    text-align: left !important; }

  #modal-dialog-width {
    min-width: 950px;
    margin-top: 11%;
    text-align: left !important; }

  #addCustomarModal {
    width: 500px;
    margin-top: 11%;
    text-align: left !important; }

  .modal-sm {
    width: 300px; } }
@media (max-width: 500px) {
  #modal-dialog-width {
    margin-top: 10%; }

  #addCustomarModal {
    margin-top: 25%; } }
#CustomBtn {
  min-width: 85px;
  display: inline-block;
  padding: 4px 10px; }

body {
  margin: 0px;
  padding: 0px;
  font-family: "Open Sans";
  font-size: 12px; }

.success {
  color: green; }

.error {
  color: red; }

.black-table tr th {
  background: #bbdfdf;
  border-bottom: 0px!important;
    color: #131313;
  border-width: 0px; }

/*# sourceMappingURL=main.css.map */
