@for $i from 0 through 30
    .m-t-#{$i*5}
        margin-top: $i*5px 
    .m-b-#{$i*5}
        margin-bottom: $i*5px 
    .m-l-#{$i*5}
        margin-left: $i*5px
    .m-r-#{$i*5}
        margin-right: $i*5px 
    @media (min-width: 768px)
        .sm-m-l-#{$i*5}
            margin-left: $i*5px
        .sm-m-r-#{$i*5}
            margin-right: $i*5px 
    @media (min-width: 992px)
        .md-m-l-#{$i*5}
            margin-left: $i*5px
        .md-m-r-#{$i*5}
            margin-right: $i*5px 
    @media (min-width: 1200px)
        .lg-m-l-#{$i*5}
            margin-left: $i*5px
        .lg-m-r-#{$i*5}
            margin-right: $i*5px 
    