.navbar-toggle
    border-color: #fff
    .icon-bar
        background-color: #fff
#navbar
    padding-left: 10px
    @media (min-width: 768px)
        padding-left: 0px
.table-form
    input
        min-width: 60px
.nybsys-form
    .row
        margin-left: 0px
        margin-right: 0px
        @media (min-width: 768px)
            margin-left: -15px
            margin-right: -15px

.nybsys-customer-details .tab-content
    padding: 5px 15px
    @media (min-width: 768px)
        padding: 5px 40px
.title-settings
    margin-bottom: 20px
    margin-left: 0px
    @media (min-width: 768px)
        margin-left: -15px

.xs-p-15-md-0
    padding-left: 15px
    @media (min-width: 768px)
        padding-left: 0px