.p0
    padding: 0px
.p-l-0
    padding-left: 0px!important
.p-r-0
    padding-right: 0px
.p-t-10
    padding-top: 10px 
.bs-padding
    padding-right: 15px!important
    padding-left: 15px!important


@for $i from 0 through 30
    .p-t-#{$i*5}
        padding-top: $i*5px 
    .p-b-#{$i*5}
        padding-bottom: $i*5px 
    .p-l-#{$i*5}
        padding-left: $i*5px
    .p-r-#{$i*5}
        padding-right: $i*5px 
    @media (min-width: 768px)
        .sm-p-l-#{$i*5}
            padding-left: $i*5px
        .sm-p-r-#{$i*5}
            padding-right: $i*5px 
    @media (min-width: 992px)
        .md-p-l-#{$i*5}
            padding-left: $i*5px
        .md-p-r-#{$i*5}
            padding-right: $i*5px 
    @media (min-width: 1200px)
        .lg-p-l-#{$i*5}
            padding-left: $i*5px
        .lg-p-r-#{$i*5}
            padding-right: $i*5px 
    