.w-full
    width: 100%
.xs-w-half 
    width: 50%    
.xs-w-third
    width: 33.333%
@media (min-width: 768px) 
    .sm-w-half 
        width: 50% 
    .sm-w-third
        width: 33.333%
@media (min-width: 992px) 
    .md-w-half 
        width: 50% 
    .md-w-third
        width: 33.333%
@media (min-width: 1200px) 
    .lg-w-half 
        width: 50% 
    .lg-w-third
        width: 33.333%


    
@for $i from 0 through 30
    .xs-w-#{$i*20}
        width: $i*20px
    @media (min-width: 768px) 
        .sm-w-#{$i*20}
            width: $i*20px
    @media (min-width: 992px) 
        .md-w-#{$i*20}
            width: $i*20px
    @media (min-width: 1200px) 
        .lg-w-#{$i*20}
            width: $i*20px


