<div class="login-box-bg">

</div>
<div class="new-client">
    <div class="modal-body">
      <div class="row">
        <div class="col-xs-12">

          <div class="col-xs-5">

            <div class="form-horizontal">
              <div class="form-group">
                <label class="control-label">First Name</label>
                  <input type="text" class="form-control" [(ngModel)]="newUserRegister.firstName"
                    required />
              </div>

              <div class="form-group">
                <label class="control-label">Last Name</label>
                  <input type="text" class="form-control" [(ngModel)]="newUserRegister.lastName" 
                  name="userNamePrefix" #userNamePrefix="ngModel" required />
                  
              </div>



              <div class="form-group">
                <label class="control-label">Address</label>
                   <textarea class="form-control" cols="30" rows="2" 
                  [(ngModel)]="newUserRegister.address" name="visPurpose"></textarea>
               </div>

              <div class="form-group">
                <label class="control-label">Mobile No</label>
                   <input class="form-control" [(ngModel)]="newUserRegister.mobileNo" name="visPurpose">
               </div>



            </div>
          </div>

          <div class="col-xs-5 col-xs-offset-1 custom-offset">

            <div class="form-horizontal">

              <div class="form-group">
                  <label class="control-label">Email</label>
                     <input type="text" class="form-control" [(ngModel)]="newUserRegister.email" 
                    name="email" #email="ngModel" required />
                 </div>

                <div class="form-group">
                    <label class="control-label">Password</label>
                       <input type="password" class="form-control" [(ngModel)]="newUserRegister.password" 
                      name="password" #password="ngModel" required />
                   </div>

                  <div class="form-group">
                      <label class="control-label">Retype Password</label>
                         <input type="password" class="form-control" [(ngModel)]="newUserRegister.retypePassword" 
                         required />
                   </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer col-xs-12 pull-right">
      <a *ngIf="urlroute!=='/create-user'" class="btn btn-default btn-sm" routerLink="/login">Back login</a>
      <button type="button" class="btn btn-success btn-sm" (click)="registerUser()">Register</button>
    </div>
  
</div>

