/*--------------------------
modal css
*/
.modal-title{
  font-size: 16px;
}
button.close{
  opacity: .7;
}
.modal-header {
    background: #383838;
    padding: 4px 10px;
    border: 0px;
    color: #fff;
  }
  .close {
    float: right;
    font-size: 18px;
    font-weight: 100;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
  }
  @media (min-width: 768px){
   
    }
  .modal-header .close {
    margin-top: 1px;
  }
  
  .modal-footer {
    border-top:0px!important;
  }
  .journalInfoList{
    padding-top:100px;
  }
 
  @media (min-width: 768px) {
    .form-horizontal .control-label {    
      text-align: left!important;
  }
    #modal-dialog-width {
    min-width: 950px;
    margin-top:11%;
     text-align: left!important;
    }
    #addCustomarModal {
    width: 500px;
    margin-top:11%;
    text-align: left!important;
    }
   
    .modal-sm {
      width: 300px;
    }
  }
  @media (max-width: 500px) {
   
    #modal-dialog-width {
    margin-top:10%; 
    }
    #addCustomarModal{
      margin-top:25%; 
    }
  }
  #CustomBtn {
    min-width: 85px;
    display: inline-block;
    padding: 4px 10px;
  }