@import "fonts"
@import "01_settings/settings"
@import "02_themes/themes"
@import "03_mixins/mixin"
@import "04_helpers/helpers"
@import "05_parts/parts"
@import "06_override/0_override"
@import "header"
@import "modal"

body
    margin: 0px
    padding: 0px
    font-family: 'Open Sans'
    font-size: 12px
.success
    color: green
.error
    color: red
.black-table
    tr
        th
            background: #5D5D5D
            color: #fff
            border-width: 0px