.base-form
    $widths: 120, 130, 140, 150, 160, 170, 180
    @each $width in $widths 
        $w: "#{$width}px"
        &.label-w-#{$width}
            .base-form-group
                label 
                    width: 100%
                    @media (min-width: 580px)
                        width: #{$w}
                &>.form-control
                    width: 100%
                    @media (min-width: 580px)
                        width: calc( 100% - #{$w} )
                    &.half 
                        width: 100%
                        @media (min-width: 400px)
                            width: 50%
                        @media (min-width: 580px)
                            width: calc( (100% - #{$w}) / 2 )
                    @for $i from 0 through 30
                        &.w-#{$i*20}
                            width: $i*20px
                &>.half                     
                    width: 100%
                    @media (min-width: 400px)
                        width: 50%
                    @media (min-width: 580px)
                        width: calc( (100% - #{$w}) / 2 )
    .base-form-group
        display: inline-block
        width: 100%
        margin-bottom: 2px
        label 
            float: left 
        .form-control
            float: left 
