.nybsys-form 
    .form-horizontal 
        .form-group
            label
                padding-left: 0px
        .control-label
            @media (min-width: 768px)
                text-align: left 
.form-group
    margin-bottom: 6px 
.form-control
    height: 28px
    padding: 4px 6px
    font-size: 12px
.txt-left-imp
    text-align: left!important
.btn-circle
    border-radius: 50%
    padding: 0px
    width: 15px 
    height: 15px
    float: left
    margin-top: 4px
    margin-left: 4px
    outline: 0px
    background: transparent
    &:active,
    &:focus,
    &:hover        
        outline: 0px
    i 
        font-size: 17px
.on-line
    display: inline-block
    width: 120px
    select 
        width: 80px
        float: left

.mDetail
    margin-right: 4.1%