.main-content
    min-height: calc(100vh - 160px)
    background: #F2F2F2
    padding-bottom: 30px

.nybsys-customer-details
    margin-top: 50px
    .tab-content
        background: #fff 
        border-color: #ddd
        border-style: solid
        border-width: 0px 1px 1px 1px

