.navbar 
    border-radius: 0px
.site-man-logo
    display: none
    @media(min-width: 1024px)
        display: block 
.navbar-nybsys
    background-color: #38B349
    .navbar
        margin-bottom: 0px
        min-height: auto 
        .navbar-nav>li>a
            @media (min-width: 768px)
                padding-top: 6px
                padding-bottom: 6px
        a 
            color: #fff 
        .nav.navbar-nav 
            li.first-link
                a 
                    padding-left: 0px
        .active 
            a 
                background: #199a2b
    .dropdown-menu
        background-color: #38B349

.nav>li>a:focus, .nav>li>a:hover,
.nav .open>a, 
.nav .open>a:focus, 
.nav .open>a:hover
    background-color: #2d8c3a
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover 
    background-color: #2D8C3A
    color: #fff
.dropdown-menu
    min-width: 181px
.nav > li > a:focus, .nav > li > a:hover
    background-color: #2D8C3A
    color: #fff   
        