.site-footer
    border-top: 1px solid #EDEDED
    text-align: center
    background: #F2F2F2
/*.copyright*/
.footer-links
    list-style-type: none 
    display: inline-block
    li 
        float: left
        text-align: left
        a 
            font-weight: bold 
        &:after 
            content: '|'
            padding: 0px 10px
        &:last-child 
            &:after
                content: ''