<header class='container-fluid'>
  <header class="container-fluid p-0">
    <div >
     <h1>ERP solution</h1>
    </div>
    <div class="main-navigation row navbar-nybsys affix-top" data-spy="affix" data-offset-top="39">
      <div class="container">
        <div class="row navbar-nybsys">
          <div class="site-headaer">
            <div class="navbar-left-section">
              <button type="button" class="btn menu-btn btn-default visible-min left-menu-toggle">
                <span class="sr-only">Toggle Left Menu</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <nav class="site-navbar navbar-left">
                <ul class="nav navbar-nav">
                  <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/create-user']">
                      Create New User
                    </a>
                  </li>
  
                  <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/view-user']">
                      View Users
                    </a>
                  </li>
                  <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/create-task']">
                      Create Tasks
                    </a>
                  </li>
                  <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/view-task']">
                      View tasks
                    </a>
                  </li>
                </ul>
              </nav>
            </div>
           
            <div class="navbar-right-section">
              <button type="button" class="btn menu-social-btn btn-default visible-min right-menu-toggle">
                <span class="sr-only">Toggle Right Menu</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <nav class="site-navbar-2 navbar-right">
                <ul class="nav navbar-nav pull-right p-r-15">
  
 
  
               
                  <li >
                    <a type="button" (click)="logout()" style="cursor: pointer">
                      Logout <i class="fa fa-sign-in"></i>
                    </a>
                  </li>
  
                </ul>
              </nav>
            </div>
          </div>
          <div class="shade" style="display: none;"></div>
        </div>
      </div>
    </div>
  </header>
  
</header>

<main class="main-content">
  <div class="container nybsys-form">
    <router-outlet></router-outlet>
  </div>
</main>
<!-- <loading-spinner></loading-spinner> -->
<footer class="site-footer p-t-10">
  <div class="copyright">
    &copy; PrydeSys Global
  </div>

</footer>

