<div class="col-xs-12 table-responsive p-0">
    <table class="table table-condensed table-striped black-table m-t-20">
      <thead>
        <tr>
          <th class='xs-w-80'>First Name</th>
          <th class='xs-w-120'>Last Name</th>
          <th class='xs-w-120'>Email</th>
          <th class='xs-w-120'>MobileNo</th>
          <th class='xs-w-120'>Address </th>
          <th class='xs-w-120'>Status </th>
          <th class='xs-w-120'>Action </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let obj of lstUsers">
          <td>{{ obj.firstName }}</td>
          <td>{{ obj.lastName }}</td>
          <td>{{ obj.email }}</td>
          <td>{{ obj.mobileNo }}</td>
          <td>{{ obj.address }}</td>
          <td>{{ obj.Status}}</td>
           <td>
               <button type="button" (click)="updateUser(obj)">edit</button>
               <button type="button" (click)="deleteUser(obj)">delete</button>
           </td>
        </tr>
      </tbody>
    </table>
  </div>
