﻿@model OracleDBApp.Web.Model.HrEmp

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>HrEmp</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group  col-xs-4">
            @Html.LabelFor(model => model.EmpNo, htmlAttributes: new { @class = "control-label  col-xs-4" })
            <div class="  col-xs-8">
                @Html.EditorFor(model => model.EmpNo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.EmpNo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group  col-xs-4">
            @Html.LabelFor(model => model.EmpId, htmlAttributes: new { @class = "control-label  col-xs-4" })
            <div class="  col-xs-8">
                @Html.EditorFor(model => model.EmpId, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.EmpId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group  col-xs-4">
            @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label  col-xs-4" })
            <div class="  col-xs-8">
                @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group  col-xs-4">
            @Html.LabelFor(model => model.Pwd, htmlAttributes: new { @class = "control-label  col-xs-4" })
            <div class="  col-xs-8">
                @Html.EditorFor(model => model.Pwd, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Pwd, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group  col-xs-4">
            @Html.LabelFor(model => model.BuNo, htmlAttributes: new { @class = "control-label  col-xs-4" })
            <div class="  col-xs-8">
                @Html.EditorFor(model => model.BuNo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.BuNo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group  col-xs-4">
            @Html.LabelFor(model => model.JobtitleNo, htmlAttributes: new { @class = "control-label  col-xs-4" })
            <div class="  col-xs-8">
                @Html.EditorFor(model => model.JobtitleNo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.JobtitleNo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group  col-xs-4">
            @Html.LabelFor(model => model.Salutation, htmlAttributes: new { @class = "control-label  col-xs-4" })
            <div class="  col-xs-8">
                @Html.EditorFor(model => model.Salutation, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Salutation, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group  col-xs-4">
            @Html.LabelFor(model => model.Fname, htmlAttributes: new { @class = "control-label  col-xs-4" })
            <div class="  col-xs-8">
                @Html.EditorFor(model => model.Fname, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Fname, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group  col-xs-4">
            @Html.LabelFor(model => model.Lname, htmlAttributes: new { @class = "control-label  col-xs-4" })
            <div class="  col-xs-8">
                @Html.EditorFor(model => model.Lname, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Lname, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group  col-xs-4">
            @Html.LabelFor(model => model.Gender, htmlAttributes: new { @class = "control-label  col-xs-4" })
            <div class="  col-xs-8">
                @Html.EditorFor(model => model.Gender, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group  col-xs-4">
            @Html.LabelFor(model => model.EmailPersonal, htmlAttributes: new { @class = "control-label  col-xs-4" })
            <div class="  col-xs-8">
                @Html.EditorFor(model => model.EmailPersonal, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.EmailPersonal, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group  col-xs-4">
            @Html.LabelFor(model => model.EmailOfficial, htmlAttributes: new { @class = "control-label  col-xs-4" })
            <div class="  col-xs-8">
                @Html.EditorFor(model => model.EmailOfficial, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.EmailOfficial, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group  col-xs-4">
            @Html.LabelFor(model => model.PhoneHome, htmlAttributes: new { @class = "control-label  col-xs-4" })
            <div class="  col-xs-8">
                @Html.EditorFor(model => model.PhoneHome, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PhoneHome, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group  col-xs-4">
            @Html.LabelFor(model => model.PhoneMobile, htmlAttributes: new { @class = "control-label  col-xs-4" })
            <div class="  col-xs-8">
                @Html.EditorFor(model => model.PhoneMobile, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PhoneMobile, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group  col-xs-4">
            @Html.LabelFor(model => model.PhoneOffice, htmlAttributes: new { @class = "control-label  col-xs-4" })
            <div class="  col-xs-8">
                @Html.EditorFor(model => model.PhoneOffice, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PhoneOffice, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group  col-xs-4">
            @Html.LabelFor(model => model.PreferredPhone, htmlAttributes: new { @class = "control-label  col-xs-4" })
            <div class="  col-xs-8">
                @Html.EditorFor(model => model.PreferredPhone, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PreferredPhone, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group  col-xs-4">
            @Html.LabelFor(model => model.PeAddr1, htmlAttributes: new { @class = "control-label  col-xs-4" })
            <div class="  col-xs-8">
                @Html.EditorFor(model => model.PeAddr1, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PeAddr1, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group  col-xs-4">
            @Html.LabelFor(model => model.PeAddr2, htmlAttributes: new { @class = "control-label  col-xs-4" })
            <div class="  col-xs-8">
                @Html.EditorFor(model => model.PeAddr2, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PeAddr2, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group  col-xs-4">
            @Html.LabelFor(model => model.PeAddrDist, htmlAttributes: new { @class = "control-label  col-xs-4" })
            <div class="  col-xs-8">
                @Html.EditorFor(model => model.PeAddrDist, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PeAddrDist, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group  col-xs-4">
            @Html.LabelFor(model => model.Dob, htmlAttributes: new { @class = "control-label  col-xs-4" })
            <div class="  col-xs-8">
                @Html.EditorFor(model => model.Dob, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Dob, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group  col-xs-4">
            @Html.LabelFor(model => model.BloodGrp, htmlAttributes: new { @class = "control-label  col-xs-4" })
            <div class="  col-xs-8">
                @Html.EditorFor(model => model.BloodGrp, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.BloodGrp, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group  col-xs-4">
            @Html.LabelFor(model => model.Religion, htmlAttributes: new { @class = "control-label  col-xs-4" })
            <div class="  col-xs-8">
                @Html.EditorFor(model => model.Religion, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Religion, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group  col-xs-4">
            @Html.LabelFor(model => model.ReportingTo, htmlAttributes: new { @class = "control-label  col-xs-4" })
            <div class="  col-xs-8">
                @Html.EditorFor(model => model.ReportingTo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ReportingTo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group  col-xs-4">
            @Html.LabelFor(model => model.SaPwdModifiedon, htmlAttributes: new { @class = "control-label  col-xs-4" })
            <div class="  col-xs-8">
                @Html.EditorFor(model => model.SaPwdModifiedon, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SaPwdModifiedon, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group  col-xs-4">
            @Html.LabelFor(model => model.SaLastLogin, htmlAttributes: new { @class = "control-label  col-xs-4" })
            <div class="  col-xs-8">
                @Html.EditorFor(model => model.SaLastLogin, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SaLastLogin, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group  col-xs-4">
            @Html.LabelFor(model => model.ActiveStat, htmlAttributes: new { @class = "control-label  col-xs-4" })
            <div class="  col-xs-8">
                @Html.EditorFor(model => model.ActiveStat, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ActiveStat, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group  col-xs-4">
            @Html.LabelFor(model => model.SaPrivType, htmlAttributes: new { @class = "control-label  col-xs-4" })
            <div class="  col-xs-8">
                @Html.EditorFor(model => model.SaPrivType, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SaPrivType, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group  col-xs-4">
            @Html.LabelFor(model => model.SaRoleNo, htmlAttributes: new { @class = "control-label  col-xs-4" })
            <div class="  col-xs-8">
                @Html.EditorFor(model => model.SaRoleNo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SaRoleNo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group  col-xs-4">
            @Html.LabelFor(model => model.SsOsIp, htmlAttributes: new { @class = "control-label  col-xs-4" })
            <div class="  col-xs-8">
                @Html.EditorFor(model => model.SsOsIp, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SsOsIp, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group  col-xs-4">
            @Html.LabelFor(model => model.SsCreator, htmlAttributes: new { @class = "control-label  col-xs-4" })
            <div class="  col-xs-8">
                @Html.EditorFor(model => model.SsCreator, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SsCreator, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group  col-xs-4">
            @Html.LabelFor(model => model.SsCreatedOn, htmlAttributes: new { @class = "control-label  col-xs-4" })
            <div class="  col-xs-8">
                @Html.EditorFor(model => model.SsCreatedOn, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SsCreatedOn, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group  col-xs-4">
            @Html.LabelFor(model => model.SsModifier, htmlAttributes: new { @class = "control-label  col-xs-4" })
            <div class="  col-xs-8">
                @Html.EditorFor(model => model.SsModifier, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SsModifier, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group  col-xs-4">
            @Html.LabelFor(model => model.SsModifiedOn, htmlAttributes: new { @class = "control-label  col-xs-4" })
            <div class="  col-xs-8">
                @Html.EditorFor(model => model.SsModifiedOn, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SsModifiedOn, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group  col-xs-4">
            @Html.LabelFor(model => model.AttnSchedulePol, htmlAttributes: new { @class = "control-label  col-xs-4" })
            <div class="  col-xs-8">
                @Html.EditorFor(model => model.AttnSchedulePol, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AttnSchedulePol, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group  col-xs-4">
            @Html.LabelFor(model => model.InsecBeforegrace, htmlAttributes: new { @class = "control-label  col-xs-4" })
            <div class="  col-xs-8">
                @Html.EditorFor(model => model.InsecBeforegrace, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.InsecBeforegrace, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group  col-xs-4">
            @Html.LabelFor(model => model.InsecAftergrace, htmlAttributes: new { @class = "control-label  col-xs-4" })
            <div class="  col-xs-8">
                @Html.EditorFor(model => model.InsecAftergrace, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.InsecAftergrace, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group  col-xs-4">
            @Html.LabelFor(model => model.JobtitleDatetime, htmlAttributes: new { @class = "control-label  col-xs-4" })
            <div class="  col-xs-8">
                @Html.EditorFor(model => model.JobtitleDatetime, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.JobtitleDatetime, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group  col-xs-4">
            @Html.LabelFor(model => model.CurrentBasic, htmlAttributes: new { @class = "control-label  col-xs-4" })
            <div class="  col-xs-8">
                @Html.EditorFor(model => model.CurrentBasic, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CurrentBasic, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group  col-xs-4">
            @Html.LabelFor(model => model.ScaleNo, htmlAttributes: new { @class = "control-label  col-xs-4" })
            <div class="  col-xs-8">
                @Html.EditorFor(model => model.ScaleNo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ScaleNo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group  col-xs-4">
            @Html.LabelFor(model => model.JoinDatetime, htmlAttributes: new { @class = "control-label  col-xs-4" })
            <div class="  col-xs-8">
                @Html.EditorFor(model => model.JoinDatetime, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.JoinDatetime, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group  col-xs-4">
            @Html.LabelFor(model => model.PabxExt, htmlAttributes: new { @class = "control-label  col-xs-4" })
            <div class="  col-xs-8">
                @Html.EditorFor(model => model.PabxExt, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PabxExt, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group  col-xs-4">
            @Html.LabelFor(model => model.PassportNo, htmlAttributes: new { @class = "control-label  col-xs-4" })
            <div class="  col-xs-8">
                @Html.EditorFor(model => model.PassportNo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PassportNo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group  col-xs-4">
            @Html.LabelFor(model => model.DrivinglcNo, htmlAttributes: new { @class = "control-label  col-xs-4" })
            <div class="  col-xs-8">
                @Html.EditorFor(model => model.DrivinglcNo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DrivinglcNo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group  col-xs-4">
            @Html.LabelFor(model => model.PeAddrCountry, htmlAttributes: new { @class = "control-label  col-xs-4" })
            <div class="  col-xs-8">
                @Html.EditorFor(model => model.PeAddrCountry, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PeAddrCountry, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group  col-xs-4">
            @Html.LabelFor(model => model.TinNo, htmlAttributes: new { @class = "control-label  col-xs-4" })
            <div class="  col-xs-8">
                @Html.EditorFor(model => model.TinNo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TinNo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group  col-xs-4">
            @Html.LabelFor(model => model.SsNo, htmlAttributes: new { @class = "control-label  col-xs-4" })
            <div class="  col-xs-8">
                @Html.EditorFor(model => model.SsNo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SsNo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group  col-xs-4">
            @Html.LabelFor(model => model.FaxNo, htmlAttributes: new { @class = "control-label  col-xs-4" })
            <div class="  col-xs-8">
                @Html.EditorFor(model => model.FaxNo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FaxNo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group  col-xs-4">
            @Html.LabelFor(model => model.DefaultShiftNo, htmlAttributes: new { @class = "control-label  col-xs-4" })
            <div class="  col-xs-8">
                @Html.EditorFor(model => model.DefaultShiftNo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DefaultShiftNo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group  col-xs-4">
            @Html.LabelFor(model => model.DefaultJoblocNo, htmlAttributes: new { @class = "control-label  col-xs-4" })
            <div class="  col-xs-8">
                @Html.EditorFor(model => model.DefaultJoblocNo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DefaultJoblocNo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group  col-xs-4">
            @Html.LabelFor(model => model.DefaultJobgroupNo, htmlAttributes: new { @class = "control-label  col-xs-4" })
            <div class="  col-xs-8">
                @Html.EditorFor(model => model.DefaultJobgroupNo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DefaultJobgroupNo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group  col-xs-4">
            @Html.LabelFor(model => model.AttachFileName, htmlAttributes: new { @class = "control-label  col-xs-4" })
            <div class="  col-xs-8">
                @Html.EditorFor(model => model.AttachFileName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AttachFileName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group  col-xs-4">
            @Html.LabelFor(model => model.FileExt, htmlAttributes: new { @class = "control-label  col-xs-4" })
            <div class="  col-xs-8">
                @Html.EditorFor(model => model.FileExt, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FileExt, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group  col-xs-4">
            @Html.LabelFor(model => model.FileSize, htmlAttributes: new { @class = "control-label  col-xs-4" })
            <div class="  col-xs-8">
                @Html.EditorFor(model => model.FileSize, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FileSize, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group  col-xs-4">
            @Html.LabelFor(model => model.AttachFileNo, htmlAttributes: new { @class = "control-label  col-xs-4" })
            <div class="  col-xs-8">
                @Html.EditorFor(model => model.AttachFileNo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AttachFileNo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group  col-xs-4">
            @Html.LabelFor(model => model.LastUpdatetimeD, htmlAttributes: new { @class = "control-label  col-xs-4" })
            <div class="  col-xs-8">
                @Html.EditorFor(model => model.LastUpdatetimeD, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LastUpdatetimeD, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group  col-xs-4">
            @Html.LabelFor(model => model.EmpType, htmlAttributes: new { @class = "control-label  col-xs-4" })
            <div class="  col-xs-8">
                @Html.EditorFor(model => model.EmpType, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.EmpType, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group  col-xs-4">
            @Html.LabelFor(model => model.NextIncrDatetime, htmlAttributes: new { @class = "control-label  col-xs-4" })
            <div class="  col-xs-8">
                @Html.EditorFor(model => model.NextIncrDatetime, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NextIncrDatetime, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group  col-xs-4">
            @Html.LabelFor(model => model.FatherName, htmlAttributes: new { @class = "control-label  col-xs-4" })
            <div class="  col-xs-8">
                @Html.EditorFor(model => model.FatherName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FatherName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group  col-xs-4">
            @Html.LabelFor(model => model.MotherName, htmlAttributes: new { @class = "control-label  col-xs-4" })
            <div class="  col-xs-8">
                @Html.EditorFor(model => model.MotherName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MotherName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group  col-xs-4">
            @Html.LabelFor(model => model.HusbandName, htmlAttributes: new { @class = "control-label  col-xs-4" })
            <div class="  col-xs-8">
                @Html.EditorFor(model => model.HusbandName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.HusbandName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group  col-xs-4">
            @Html.LabelFor(model => model.PrAddr1, htmlAttributes: new { @class = "control-label  col-xs-4" })
            <div class="  col-xs-8">
                @Html.EditorFor(model => model.PrAddr1, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PrAddr1, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group  col-xs-4">
            @Html.LabelFor(model => model.PrAddr2, htmlAttributes: new { @class = "control-label  col-xs-4" })
            <div class="  col-xs-8">
                @Html.EditorFor(model => model.PrAddr2, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PrAddr2, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group  col-xs-4">
            @Html.LabelFor(model => model.PrAddrDist, htmlAttributes: new { @class = "control-label  col-xs-4" })
            <div class="  col-xs-8">
                @Html.EditorFor(model => model.PrAddrDist, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PrAddrDist, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group  col-xs-4">
            @Html.LabelFor(model => model.PrAddrCountry, htmlAttributes: new { @class = "control-label  col-xs-4" })
            <div class="  col-xs-8">
                @Html.EditorFor(model => model.PrAddrCountry, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PrAddrCountry, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group  col-xs-4">
            @Html.LabelFor(model => model.PreferedAddr, htmlAttributes: new { @class = "control-label  col-xs-4" })
            <div class="  col-xs-8">
                @Html.EditorFor(model => model.PreferedAddr, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PreferedAddr, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group  col-xs-4">
            @Html.LabelFor(model => model.Nationality, htmlAttributes: new { @class = "control-label  col-xs-4" })
            <div class="  col-xs-8">
                @Html.EditorFor(model => model.Nationality, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Nationality, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group  col-xs-4">
            @Html.LabelFor(model => model.ExtraCurAct, htmlAttributes: new { @class = "control-label  col-xs-4" })
            <div class="  col-xs-8">
                @Html.EditorFor(model => model.ExtraCurAct, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ExtraCurAct, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group  col-xs-4">
            @Html.LabelFor(model => model.MStatus, htmlAttributes: new { @class = "control-label  col-xs-4" })
            <div class="  col-xs-8">
                @Html.EditorFor(model => model.MStatus, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MStatus, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group  col-xs-4">
            @Html.LabelFor(model => model.ProMembership, htmlAttributes: new { @class = "control-label  col-xs-4" })
            <div class="  col-xs-8">
                @Html.EditorFor(model => model.ProMembership, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ProMembership, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group  col-xs-4">
            @Html.LabelFor(model => model.Interest, htmlAttributes: new { @class = "control-label  col-xs-4" })
            <div class="  col-xs-8">
                @Html.EditorFor(model => model.Interest, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Interest, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group  col-xs-4">
            @Html.LabelFor(model => model.PrAddrPost, htmlAttributes: new { @class = "control-label  col-xs-4" })
            <div class="  col-xs-8">
                @Html.EditorFor(model => model.PrAddrPost, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PrAddrPost, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group  col-xs-4">
            @Html.LabelFor(model => model.PeAddrPost, htmlAttributes: new { @class = "control-label  col-xs-4" })
            <div class="  col-xs-8">
                @Html.EditorFor(model => model.PeAddrPost, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PeAddrPost, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group  col-xs-4">
            @Html.LabelFor(model => model.SsOgNo, htmlAttributes: new { @class = "control-label  col-xs-4" })
            <div class="  col-xs-8">
                @Html.EditorFor(model => model.SsOgNo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SsOgNo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group  col-xs-4">
            @Html.LabelFor(model => model.PlaceOfBirth, htmlAttributes: new { @class = "control-label  col-xs-4" })
            <div class="  col-xs-8">
                @Html.EditorFor(model => model.PlaceOfBirth, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PlaceOfBirth, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group  col-xs-4">
            @Html.LabelFor(model => model.SalaryType, htmlAttributes: new { @class = "control-label  col-xs-4" })
            <div class="  col-xs-8">
                @Html.EditorFor(model => model.SalaryType, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SalaryType, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group  col-xs-4">
            @Html.LabelFor(model => model.CardNo, htmlAttributes: new { @class = "control-label  col-xs-4" })
            <div class="  col-xs-8">
                @Html.EditorFor(model => model.CardNo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CardNo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group  col-xs-4">
            @Html.LabelFor(model => model.SalaryReportSlNo, htmlAttributes: new { @class = "control-label  col-xs-4" })
            <div class="  col-xs-8">
                @Html.EditorFor(model => model.SalaryReportSlNo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SalaryReportSlNo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group  col-xs-4">
            @Html.LabelFor(model => model.SalaryBankAccNo, htmlAttributes: new { @class = "control-label  col-xs-4" })
            <div class="  col-xs-8">
                @Html.EditorFor(model => model.SalaryBankAccNo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SalaryBankAccNo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group  col-xs-4">
            @Html.LabelFor(model => model.AttnSchPolDatetime, htmlAttributes: new { @class = "control-label  col-xs-4" })
            <div class="  col-xs-8">
                @Html.EditorFor(model => model.AttnSchPolDatetime, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AttnSchPolDatetime, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group  col-xs-4">
            @Html.LabelFor(model => model.CatNo, htmlAttributes: new { @class = "control-label  col-xs-4" })
            <div class="  col-xs-8">
                @Html.EditorFor(model => model.CatNo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CatNo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group  col-xs-4">
            @Html.LabelFor(model => model.ServiceDuration, htmlAttributes: new { @class = "control-label  col-xs-4" })
            <div class="  col-xs-8">
                @Html.EditorFor(model => model.ServiceDuration, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ServiceDuration, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group  col-xs-4">
            @Html.LabelFor(model => model.ServiceDurationType, htmlAttributes: new { @class = "control-label  col-xs-4" })
            <div class="  col-xs-8">
                @Html.EditorFor(model => model.ServiceDurationType, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ServiceDurationType, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group  col-xs-4">
            @Html.LabelFor(model => model.MeritPosition, htmlAttributes: new { @class = "control-label  col-xs-4" })
            <div class="  col-xs-8">
                @Html.EditorFor(model => model.MeritPosition, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MeritPosition, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group  col-xs-4">
            @Html.LabelFor(model => model.ContractDatetime, htmlAttributes: new { @class = "control-label  col-xs-4" })
            <div class="  col-xs-8">
                @Html.EditorFor(model => model.ContractDatetime, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ContractDatetime, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group  col-xs-4">
            @Html.LabelFor(model => model.ContractExpireDatetime, htmlAttributes: new { @class = "control-label  col-xs-4" })
            <div class="  col-xs-8">
                @Html.EditorFor(model => model.ContractExpireDatetime, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ContractExpireDatetime, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group  col-xs-4">
            @Html.LabelFor(model => model.ChildrenDecimal, htmlAttributes: new { @class = "control-label  col-xs-4" })
            <div class="  col-xs-8">
                @Html.EditorFor(model => model.ChildrenDecimal, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ChildrenDecimal, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group  col-xs-4">
            @Html.LabelFor(model => model.ServiceEndDatetime, htmlAttributes: new { @class = "control-label  col-xs-4" })
            <div class="  col-xs-8">
                @Html.EditorFor(model => model.ServiceEndDatetime, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ServiceEndDatetime, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group  col-xs-4">
            @Html.LabelFor(model => model.GrpInsNom, htmlAttributes: new { @class = "control-label  col-xs-4" })
            <div class="  col-xs-8">
                @Html.EditorFor(model => model.GrpInsNom, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.GrpInsNom, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group  col-xs-4">
            @Html.LabelFor(model => model.NextTransferDatetime, htmlAttributes: new { @class = "control-label  col-xs-4" })
            <div class="  col-xs-8">
                @Html.EditorFor(model => model.NextTransferDatetime, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NextTransferDatetime, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group  col-xs-4">
            @Html.LabelFor(model => model.ProbableTransferDuration, htmlAttributes: new { @class = "control-label  col-xs-4" })
            <div class="  col-xs-8">
                @Html.EditorFor(model => model.ProbableTransferDuration, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ProbableTransferDuration, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group  col-xs-4">
            @Html.LabelFor(model => model.TypeOfAgeProve, htmlAttributes: new { @class = "control-label  col-xs-4" })
            <div class="  col-xs-8">
                @Html.EditorFor(model => model.TypeOfAgeProve, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TypeOfAgeProve, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group  col-xs-4">
            @Html.LabelFor(model => model.PrAddr3, htmlAttributes: new { @class = "control-label  col-xs-4" })
            <div class="  col-xs-8">
                @Html.EditorFor(model => model.PrAddr3, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PrAddr3, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group  col-xs-4">
            @Html.LabelFor(model => model.PrCareOfAddr, htmlAttributes: new { @class = "control-label  col-xs-4" })
            <div class="  col-xs-8">
                @Html.EditorFor(model => model.PrCareOfAddr, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PrCareOfAddr, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group  col-xs-4">
            @Html.LabelFor(model => model.PeAddr3, htmlAttributes: new { @class = "control-label  col-xs-4" })
            <div class="  col-xs-8">
                @Html.EditorFor(model => model.PeAddr3, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PeAddr3, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group  col-xs-4">
            @Html.LabelFor(model => model.PeCareOfAddr, htmlAttributes: new { @class = "control-label  col-xs-4" })
            <div class="  col-xs-8">
                @Html.EditorFor(model => model.PeCareOfAddr, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PeCareOfAddr, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group  col-xs-4">
            @Html.LabelFor(model => model.EmployeeGrade, htmlAttributes: new { @class = "control-label  col-xs-4" })
            <div class="  col-xs-8">
                @Html.EditorFor(model => model.EmployeeGrade, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.EmployeeGrade, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group  col-xs-4">
            @Html.LabelFor(model => model.NlsFname, htmlAttributes: new { @class = "control-label  col-xs-4" })
            <div class="  col-xs-8">
                @Html.EditorFor(model => model.NlsFname, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NlsFname, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group  col-xs-4">
            @Html.LabelFor(model => model.NlsLname, htmlAttributes: new { @class = "control-label  col-xs-4" })
            <div class="  col-xs-8">
                @Html.EditorFor(model => model.NlsLname, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NlsLname, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group  col-xs-4">
            @Html.LabelFor(model => model.ContractPersonName, htmlAttributes: new { @class = "control-label  col-xs-4" })
            <div class="  col-xs-8">
                @Html.EditorFor(model => model.ContractPersonName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ContractPersonName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group  col-xs-4">
            @Html.LabelFor(model => model.ContractRelation, htmlAttributes: new { @class = "control-label  col-xs-4" })
            <div class="  col-xs-8">
                @Html.EditorFor(model => model.ContractRelation, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ContractRelation, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group  col-xs-4">
            @Html.LabelFor(model => model.ContractPhone, htmlAttributes: new { @class = "control-label  col-xs-4" })
            <div class="  col-xs-8">
                @Html.EditorFor(model => model.ContractPhone, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ContractPhone, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group  col-xs-4">
            @Html.LabelFor(model => model.ContractMobile, htmlAttributes: new { @class = "control-label  col-xs-4" })
            <div class="  col-xs-8">
                @Html.EditorFor(model => model.ContractMobile, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ContractMobile, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group  col-xs-4">
            @Html.LabelFor(model => model.ContractEmail, htmlAttributes: new { @class = "control-label  col-xs-4" })
            <div class="  col-xs-8">
                @Html.EditorFor(model => model.ContractEmail, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ContractEmail, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group  col-xs-4">
            @Html.LabelFor(model => model.HrType, htmlAttributes: new { @class = "control-label  col-xs-4" })
            <div class="  col-xs-8">
                @Html.EditorFor(model => model.HrType, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.HrType, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group  col-xs-4">
            @Html.LabelFor(model => model.JobType, htmlAttributes: new { @class = "control-label  col-xs-4" })
            <div class="  col-xs-8">
                @Html.EditorFor(model => model.JobType, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.JobType, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group  col-xs-4">
            @Html.LabelFor(model => model.HoldSalary, htmlAttributes: new { @class = "control-label  col-xs-4" })
            <div class="  col-xs-8">
                @Html.EditorFor(model => model.HoldSalary, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.HoldSalary, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group  col-xs-4">
            @Html.LabelFor(model => model.FileNo, htmlAttributes: new { @class = "control-label  col-xs-4" })
            <div class="  col-xs-8">
                @Html.EditorFor(model => model.FileNo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FileNo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group  col-xs-4">
            @Html.LabelFor(model => model.StepNo, htmlAttributes: new { @class = "control-label  col-xs-4" })
            <div class="  col-xs-8">
                @Html.EditorFor(model => model.StepNo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.StepNo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group  col-xs-4">
            @Html.LabelFor(model => model.CurNo, htmlAttributes: new { @class = "control-label  col-xs-4" })
            <div class="  col-xs-8">
                @Html.EditorFor(model => model.CurNo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CurNo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group  col-xs-4">
            @Html.LabelFor(model => model.PfNo, htmlAttributes: new { @class = "control-label  col-xs-4" })
            <div class="  col-xs-8">
                @Html.EditorFor(model => model.PfNo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PfNo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group  col-xs-4">
            @Html.LabelFor(model => model.AppNo, htmlAttributes: new { @class = "control-label  col-xs-4" })
            <div class="  col-xs-8">
                @Html.EditorFor(model => model.AppNo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AppNo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group  col-xs-4">
            @Html.LabelFor(model => model.ProvMonth, htmlAttributes: new { @class = "control-label  col-xs-4" })
            <div class="  col-xs-8">
                @Html.EditorFor(model => model.ProvMonth, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ProvMonth, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group  col-xs-4">
            @Html.LabelFor(model => model.JobConfirmDatetime, htmlAttributes: new { @class = "control-label  col-xs-4" })
            <div class="  col-xs-8">
                @Html.EditorFor(model => model.JobConfirmDatetime, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.JobConfirmDatetime, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group  col-xs-4">
            @Html.LabelFor(model => model.AutoRefreshPendingJob, htmlAttributes: new { @class = "control-label  col-xs-4" })
            <div class="  col-xs-8">
                @Html.EditorFor(model => model.AutoRefreshPendingJob, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AutoRefreshPendingJob, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group  col-xs-4">
            @Html.LabelFor(model => model.ApplicationUserActiveStatus, htmlAttributes: new { @class = "control-label  col-xs-4" })
            <div class="  col-xs-8">
                @Html.EditorFor(model => model.ApplicationUserActiveStatus, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ApplicationUserActiveStatus, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group  col-xs-4">
            @Html.LabelFor(model => model.LastTransferDatetime, htmlAttributes: new { @class = "control-label  col-xs-4" })
            <div class="  col-xs-8">
                @Html.EditorFor(model => model.LastTransferDatetime, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LastTransferDatetime, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group  col-xs-4">
            @Html.LabelFor(model => model.LastIncrementDatetime, htmlAttributes: new { @class = "control-label  col-xs-4" })
            <div class="  col-xs-8">
                @Html.EditorFor(model => model.LastIncrementDatetime, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LastIncrementDatetime, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group  col-xs-4">
            @Html.LabelFor(model => model.PfConfirmDatetime, htmlAttributes: new { @class = "control-label  col-xs-4" })
            <div class="  col-xs-8">
                @Html.EditorFor(model => model.PfConfirmDatetime, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PfConfirmDatetime, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group  col-xs-4">
            @Html.LabelFor(model => model.PfApprove, htmlAttributes: new { @class = "control-label  col-xs-4" })
            <div class="  col-xs-8">
                @Html.EditorFor(model => model.PfApprove, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PfApprove, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group  col-xs-4">
            @Html.LabelFor(model => model.PfMemberFlg, htmlAttributes: new { @class = "control-label  col-xs-4" })
            <div class="  col-xs-8">
                @Html.EditorFor(model => model.PfMemberFlg, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PfMemberFlg, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group  col-xs-4">
            @Html.LabelFor(model => model.WfConfirmDatetime, htmlAttributes: new { @class = "control-label  col-xs-4" })
            <div class="  col-xs-8">
                @Html.EditorFor(model => model.WfConfirmDatetime, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.WfConfirmDatetime, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group  col-xs-4">
            @Html.LabelFor(model => model.WfApprove, htmlAttributes: new { @class = "control-label  col-xs-4" })
            <div class="  col-xs-8">
                @Html.EditorFor(model => model.WfApprove, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.WfApprove, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group  col-xs-4">
            @Html.LabelFor(model => model.WfMemberFlg, htmlAttributes: new { @class = "control-label  col-xs-4" })
            <div class="  col-xs-8">
                @Html.EditorFor(model => model.WfMemberFlg, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.WfMemberFlg, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group  col-xs-4">
            @Html.LabelFor(model => model.WfNo, htmlAttributes: new { @class = "control-label  col-xs-4" })
            <div class="  col-xs-8">
                @Html.EditorFor(model => model.WfNo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.WfNo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group  col-xs-4">
            @Html.LabelFor(model => model.LastPromotionDatetime, htmlAttributes: new { @class = "control-label  col-xs-4" })
            <div class="  col-xs-8">
                @Html.EditorFor(model => model.LastPromotionDatetime, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LastPromotionDatetime, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group  col-xs-4">
            @Html.LabelFor(model => model.ServiceExtentionMonth, htmlAttributes: new { @class = "control-label  col-xs-4" })
            <div class="  col-xs-8">
                @Html.EditorFor(model => model.ServiceExtentionMonth, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ServiceExtentionMonth, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group  col-xs-4">
            @Html.LabelFor(model => model.CompanyNo, htmlAttributes: new { @class = "control-label  col-xs-4" })
            <div class="  col-xs-8">
                @Html.EditorFor(model => model.CompanyNo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CompanyNo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group  col-xs-4">
            @Html.LabelFor(model => model.SsUploadedOn, htmlAttributes: new { @class = "control-label  col-xs-4" })
            <div class="  col-xs-8">
                @Html.EditorFor(model => model.SsUploadedOn, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SsUploadedOn, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group  col-xs-4">
            @Html.LabelFor(model => model.SsIsDeleted, htmlAttributes: new { @class = "control-label  col-xs-4" })
            <div class="  col-xs-8">
                @Html.EditorFor(model => model.SsIsDeleted, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SsIsDeleted, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group  col-xs-4">
            @Html.LabelFor(model => model.SsIsUploaded, htmlAttributes: new { @class = "control-label  col-xs-4" })
            <div class="  col-xs-8">
                @Html.EditorFor(model => model.SsIsUploaded, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SsIsUploaded, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group  col-xs-4">
            @Html.LabelFor(model => model.SalaryBankNo, htmlAttributes: new { @class = "control-label  col-xs-4" })
            <div class="  col-xs-8">
                @Html.EditorFor(model => model.SalaryBankNo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SalaryBankNo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group  col-xs-4">
            @Html.LabelFor(model => model.LineNo, htmlAttributes: new { @class = "control-label  col-xs-4" })
            <div class="  col-xs-8">
                @Html.EditorFor(model => model.LineNo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LineNo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group  col-xs-4">
            @Html.LabelFor(model => model.OldEmpNo, htmlAttributes: new { @class = "control-label  col-xs-4" })
            <div class="  col-xs-8">
                @Html.EditorFor(model => model.OldEmpNo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.OldEmpNo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group  col-xs-4">
            @Html.LabelFor(model => model.NewLastName, htmlAttributes: new { @class = "control-label  col-xs-4" })
            <div class="  col-xs-8">
                @Html.EditorFor(model => model.NewLastName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NewLastName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group  col-xs-4">
            @Html.LabelFor(model => model.NlsAddress1, htmlAttributes: new { @class = "control-label  col-xs-4" })
            <div class="  col-xs-8">
                @Html.EditorFor(model => model.NlsAddress1, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NlsAddress1, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group  col-xs-4">
            @Html.LabelFor(model => model.NlsAddress2, htmlAttributes: new { @class = "control-label  col-xs-4" })
            <div class="  col-xs-8">
                @Html.EditorFor(model => model.NlsAddress2, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NlsAddress2, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group  col-xs-4">
            @Html.LabelFor(model => model.SchOffDayNo, htmlAttributes: new { @class = "control-label  col-xs-4" })
            <div class="  col-xs-8">
                @Html.EditorFor(model => model.SchOffDayNo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SchOffDayNo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group  col-xs-4">
            @Html.LabelFor(model => model.PrimaryCompanyNo, htmlAttributes: new { @class = "control-label  col-xs-4" })
            <div class="  col-xs-8">
                @Html.EditorFor(model => model.PrimaryCompanyNo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PrimaryCompanyNo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group  col-xs-4">
            @Html.LabelFor(model => model.NlsFatherName, htmlAttributes: new { @class = "control-label  col-xs-4" })
            <div class="  col-xs-8">
                @Html.EditorFor(model => model.NlsFatherName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NlsFatherName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group  col-xs-4">
            @Html.LabelFor(model => model.NlsMotherName, htmlAttributes: new { @class = "control-label  col-xs-4" })
            <div class="  col-xs-8">
                @Html.EditorFor(model => model.NlsMotherName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NlsMotherName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group  col-xs-4">
            @Html.LabelFor(model => model.NlsHusbandName, htmlAttributes: new { @class = "control-label  col-xs-4" })
            <div class="  col-xs-8">
                @Html.EditorFor(model => model.NlsHusbandName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NlsHusbandName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group  col-xs-4">
            @Html.LabelFor(model => model.PrNlsAddress1, htmlAttributes: new { @class = "control-label  col-xs-4" })
            <div class="  col-xs-8">
                @Html.EditorFor(model => model.PrNlsAddress1, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PrNlsAddress1, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group  col-xs-4">
            @Html.LabelFor(model => model.PrNlsAddress2, htmlAttributes: new { @class = "control-label  col-xs-4" })
            <div class="  col-xs-8">
                @Html.EditorFor(model => model.PrNlsAddress2, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PrNlsAddress2, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group  col-xs-4">
            @Html.LabelFor(model => model.SalFromAccountNo, htmlAttributes: new { @class = "control-label  col-xs-4" })
            <div class="  col-xs-8">
                @Html.EditorFor(model => model.SalFromAccountNo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SalFromAccountNo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group  col-xs-4">
            @Html.LabelFor(model => model.PieceRateEmp, htmlAttributes: new { @class = "control-label  col-xs-4" })
            <div class="  col-xs-8">
                @Html.EditorFor(model => model.PieceRateEmp, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PieceRateEmp, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group  col-xs-4">
            @Html.LabelFor(model => model.DefaultProductType, htmlAttributes: new { @class = "control-label  col-xs-4" })
            <div class="  col-xs-8">
                @Html.EditorFor(model => model.DefaultProductType, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DefaultProductType, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group  col-xs-4">
            @Html.LabelFor(model => model.DefaultOperationNo, htmlAttributes: new { @class = "control-label  col-xs-4" })
            <div class="  col-xs-8">
                @Html.EditorFor(model => model.DefaultOperationNo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DefaultOperationNo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group  col-xs-4">
            @Html.LabelFor(model => model.ReqdetlNo, htmlAttributes: new { @class = "control-label  col-xs-4" })
            <div class="  col-xs-8">
                @Html.EditorFor(model => model.ReqdetlNo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ReqdetlNo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group  col-xs-4">
            @Html.LabelFor(model => model.NatureOfWork, htmlAttributes: new { @class = "control-label  col-xs-4" })
            <div class="  col-xs-8">
                @Html.EditorFor(model => model.NatureOfWork, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NatureOfWork, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group  col-xs-4">
            @Html.LabelFor(model => model.BpSystolic, htmlAttributes: new { @class = "control-label  col-xs-4" })
            <div class="  col-xs-8">
                @Html.EditorFor(model => model.BpSystolic, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.BpSystolic, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group  col-xs-4">
            @Html.LabelFor(model => model.BpDiastolic, htmlAttributes: new { @class = "control-label  col-xs-4" })
            <div class="  col-xs-8">
                @Html.EditorFor(model => model.BpDiastolic, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.BpDiastolic, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group  col-xs-4">
            @Html.LabelFor(model => model.HeightFeet, htmlAttributes: new { @class = "control-label  col-xs-4" })
            <div class="  col-xs-8">
                @Html.EditorFor(model => model.HeightFeet, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.HeightFeet, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group  col-xs-4">
            @Html.LabelFor(model => model.HeightInches, htmlAttributes: new { @class = "control-label  col-xs-4" })
            <div class="  col-xs-8">
                @Html.EditorFor(model => model.HeightInches, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.HeightInches, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group  col-xs-4">
            @Html.LabelFor(model => model.WeightKg, htmlAttributes: new { @class = "control-label  col-xs-4" })
            <div class="  col-xs-8">
                @Html.EditorFor(model => model.WeightKg, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.WeightKg, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group  col-xs-4">
            @Html.LabelFor(model => model.ChildBoy, htmlAttributes: new { @class = "control-label  col-xs-4" })
            <div class="  col-xs-8">
                @Html.EditorFor(model => model.ChildBoy, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ChildBoy, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group  col-xs-4">
            @Html.LabelFor(model => model.ChildGirl, htmlAttributes: new { @class = "control-label  col-xs-4" })
            <div class="  col-xs-8">
                @Html.EditorFor(model => model.ChildGirl, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ChildGirl, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group  col-xs-4">
            @Html.LabelFor(model => model.FamilyMembers, htmlAttributes: new { @class = "control-label  col-xs-4" })
            <div class="  col-xs-8">
                @Html.EditorFor(model => model.FamilyMembers, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FamilyMembers, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group  col-xs-4">
            @Html.LabelFor(model => model.FamilyEarningMember, htmlAttributes: new { @class = "control-label  col-xs-4" })
            <div class="  col-xs-8">
                @Html.EditorFor(model => model.FamilyEarningMember, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FamilyEarningMember, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group  col-xs-4">
            @Html.LabelFor(model => model.IdentificationMark, htmlAttributes: new { @class = "control-label  col-xs-4" })
            <div class="  col-xs-8">
                @Html.EditorFor(model => model.IdentificationMark, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.IdentificationMark, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group  col-xs-4">
            @Html.LabelFor(model => model.RelativeInCompany, htmlAttributes: new { @class = "control-label  col-xs-4" })
            <div class="  col-xs-8">
                @Html.EditorFor(model => model.RelativeInCompany, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.RelativeInCompany, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group  col-xs-4">
            @Html.LabelFor(model => model.RelativeRelation, htmlAttributes: new { @class = "control-label  col-xs-4" })
            <div class="  col-xs-8">
                @Html.EditorFor(model => model.RelativeRelation, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.RelativeRelation, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group  col-xs-4">
            @Html.LabelFor(model => model.IntroducerInComapany, htmlAttributes: new { @class = "control-label  col-xs-4" })
            <div class="  col-xs-8">
                @Html.EditorFor(model => model.IntroducerInComapany, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.IntroducerInComapany, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group  col-xs-4">
            @Html.LabelFor(model => model.Ref1Name, htmlAttributes: new { @class = "control-label  col-xs-4" })
            <div class="  col-xs-8">
                @Html.EditorFor(model => model.Ref1Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Ref1Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group  col-xs-4">
            @Html.LabelFor(model => model.Ref1Desig, htmlAttributes: new { @class = "control-label  col-xs-4" })
            <div class="  col-xs-8">
                @Html.EditorFor(model => model.Ref1Desig, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Ref1Desig, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group  col-xs-4">
            @Html.LabelFor(model => model.Ref1Dept, htmlAttributes: new { @class = "control-label  col-xs-4" })
            <div class="  col-xs-8">
                @Html.EditorFor(model => model.Ref1Dept, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Ref1Dept, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group  col-xs-4">
            @Html.LabelFor(model => model.Ref1Org, htmlAttributes: new { @class = "control-label  col-xs-4" })
            <div class="  col-xs-8">
                @Html.EditorFor(model => model.Ref1Org, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Ref1Org, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group  col-xs-4">
            @Html.LabelFor(model => model.Ref1Rel, htmlAttributes: new { @class = "control-label  col-xs-4" })
            <div class="  col-xs-8">
                @Html.EditorFor(model => model.Ref1Rel, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Ref1Rel, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group  col-xs-4">
            @Html.LabelFor(model => model.Ref1Mobile, htmlAttributes: new { @class = "control-label  col-xs-4" })
            <div class="  col-xs-8">
                @Html.EditorFor(model => model.Ref1Mobile, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Ref1Mobile, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group  col-xs-4">
            @Html.LabelFor(model => model.Ref2Name, htmlAttributes: new { @class = "control-label  col-xs-4" })
            <div class="  col-xs-8">
                @Html.EditorFor(model => model.Ref2Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Ref2Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group  col-xs-4">
            @Html.LabelFor(model => model.Ref2Desig, htmlAttributes: new { @class = "control-label  col-xs-4" })
            <div class="  col-xs-8">
                @Html.EditorFor(model => model.Ref2Desig, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Ref2Desig, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group  col-xs-4">
            @Html.LabelFor(model => model.Ref2Dept, htmlAttributes: new { @class = "control-label  col-xs-4" })
            <div class="  col-xs-8">
                @Html.EditorFor(model => model.Ref2Dept, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Ref2Dept, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group  col-xs-4">
            @Html.LabelFor(model => model.Ref2Org, htmlAttributes: new { @class = "control-label  col-xs-4" })
            <div class="  col-xs-8">
                @Html.EditorFor(model => model.Ref2Org, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Ref2Org, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group  col-xs-4">
            @Html.LabelFor(model => model.Ref2Rel, htmlAttributes: new { @class = "control-label  col-xs-4" })
            <div class="  col-xs-8">
                @Html.EditorFor(model => model.Ref2Rel, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Ref2Rel, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group  col-xs-4">
            @Html.LabelFor(model => model.Ref2Mobile, htmlAttributes: new { @class = "control-label  col-xs-4" })
            <div class="  col-xs-8">
                @Html.EditorFor(model => model.Ref2Mobile, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Ref2Mobile, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group  col-xs-4">
            @Html.LabelFor(model => model.SurName, htmlAttributes: new { @class = "control-label  col-xs-4" })
            <div class="  col-xs-8">
                @Html.EditorFor(model => model.SurName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SurName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group  col-xs-4">
            @Html.LabelFor(model => model.NlsShortName, htmlAttributes: new { @class = "control-label  col-xs-4" })
            <div class="  col-xs-8">
                @Html.EditorFor(model => model.NlsShortName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NlsShortName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group  col-xs-4">
            @Html.LabelFor(model => model.Note, htmlAttributes: new { @class = "control-label  col-xs-4" })
            <div class="  col-xs-8">
                @Html.EditorFor(model => model.Note, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Note, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group  col-xs-4">
            @Html.LabelFor(model => model.PeUnionNo, htmlAttributes: new { @class = "control-label  col-xs-4" })
            <div class="  col-xs-8">
                @Html.EditorFor(model => model.PeUnionNo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PeUnionNo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group  col-xs-4">
            @Html.LabelFor(model => model.PePostOfficeNo, htmlAttributes: new { @class = "control-label  col-xs-4" })
            <div class="  col-xs-8">
                @Html.EditorFor(model => model.PePostOfficeNo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PePostOfficeNo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group  col-xs-4">
            @Html.LabelFor(model => model.PeThanaNo, htmlAttributes: new { @class = "control-label  col-xs-4" })
            <div class="  col-xs-8">
                @Html.EditorFor(model => model.PeThanaNo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PeThanaNo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group  col-xs-4">
            @Html.LabelFor(model => model.PeDivisionNo, htmlAttributes: new { @class = "control-label  col-xs-4" })
            <div class="  col-xs-8">
                @Html.EditorFor(model => model.PeDivisionNo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PeDivisionNo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group  col-xs-4">
            @Html.LabelFor(model => model.PrUnionNo, htmlAttributes: new { @class = "control-label  col-xs-4" })
            <div class="  col-xs-8">
                @Html.EditorFor(model => model.PrUnionNo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PrUnionNo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group  col-xs-4">
            @Html.LabelFor(model => model.PrPostOfficeNo, htmlAttributes: new { @class = "control-label  col-xs-4" })
            <div class="  col-xs-8">
                @Html.EditorFor(model => model.PrPostOfficeNo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PrPostOfficeNo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group  col-xs-4">
            @Html.LabelFor(model => model.PrThanaNo, htmlAttributes: new { @class = "control-label  col-xs-4" })
            <div class="  col-xs-8">
                @Html.EditorFor(model => model.PrThanaNo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PrThanaNo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group  col-xs-4">
            @Html.LabelFor(model => model.PrDivisionNo, htmlAttributes: new { @class = "control-label  col-xs-4" })
            <div class="  col-xs-8">
                @Html.EditorFor(model => model.PrDivisionNo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PrDivisionNo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group  col-xs-4">
            @Html.LabelFor(model => model.NidIssuingDatetime, htmlAttributes: new { @class = "control-label  col-xs-4" })
            <div class="  col-xs-8">
                @Html.EditorFor(model => model.NidIssuingDatetime, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NidIssuingDatetime, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group  col-xs-4">
            @Html.LabelFor(model => model.NidIssuingPlace, htmlAttributes: new { @class = "control-label  col-xs-4" })
            <div class="  col-xs-8">
                @Html.EditorFor(model => model.NidIssuingPlace, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NidIssuingPlace, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group  col-xs-4">
            @Html.LabelFor(model => model.InsuranceNo, htmlAttributes: new { @class = "control-label  col-xs-4" })
            <div class="  col-xs-8">
                @Html.EditorFor(model => model.InsuranceNo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.InsuranceNo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group  col-xs-4">
            @Html.LabelFor(model => model.NlsSurName, htmlAttributes: new { @class = "control-label  col-xs-4" })
            <div class="  col-xs-8">
                @Html.EditorFor(model => model.NlsSurName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NlsSurName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group  col-xs-4">
            @Html.LabelFor(model => model.PeVillageNo, htmlAttributes: new { @class = "control-label  col-xs-4" })
            <div class="  col-xs-8">
                @Html.EditorFor(model => model.PeVillageNo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PeVillageNo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group  col-xs-4">
            @Html.LabelFor(model => model.PrVillageNo, htmlAttributes: new { @class = "control-label  col-xs-4" })
            <div class="  col-xs-8">
                @Html.EditorFor(model => model.PrVillageNo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PrVillageNo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group  col-xs-4">
            <div class="col-md-offset-2   col-xs-8">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
